<mat-toolbar class="sticky mat-elevation-z1" color="primary">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    Purchase Order
</mat-toolbar>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="60%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>
                        <!-- 
                        <div *ngFor="let indententry of allindententry">
                            <button (click)="onalbum($event, indententry._id)">{{indententry.indentNumber}}</button>
                        </div> -->
                        <!-- (ngModelChange)='onalbum($event)' -->

                        <!-- <ng-select appearance="outline" placeholder="Purchase Order Number" (change)='myFun($event)'
                            name="purchaseOrderNo" #purchaseOrderNo="ngModel" [(ngModel)]="model.purchaseOrderNo">
                            <mat-label>Purchase Order Number </mat-label>
                            <ng-container *ngFor="let car of Unit">
                                <ng-option *ngIf="car.isActive==='publish'" [value]="car._id">{{car.orderNumber}}
                                </ng-option>
                            </ng-container>
                        </ng-select> -->


                        <div class="col-md-6">
                            <h3> Purchase Id:{{random}}</h3>

                        </div>
                        <div class="col-md-6">
                            <h3> Created Date: <input readonly="readonly" placeholder="purchaseDate" name="purchaseDate"
                                    [(ngModel)]="purchaseDate">
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="form-field-width1" appearance="outline">
                                <mat-label>Created By</mat-label>
                                <input type="text" matInput placeholder="Created By" name="createdBy"
                                    #createdBy="ngModel" required [(ngModel)]="model.createdBy">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="form-field-width1" appearance="outline">
                                <mat-label>Department Name</mat-label>
                                <input type="text" matInput placeholder="Department Name" name="departmentName"
                                    #departmentName="ngModel" required [(ngModel)]="model.departmentName">
                            </mat-form-field>
                        </div>



                        <h3>Vendor</h3>
                        <ng-select placeholder="Supplier Name" appearance="outline" (change)='supplier($event)'
                            name="supplierName" #supplierName="ngModel" [(ngModel)]="model.supplierName">
                            <mat-label>Supplier Name</mat-label>
                            <ng-option *ngFor="let supplier of allSupplier" [value]="supplier._id">
                                {{supplier.supplierName}}</ng-option>
                        </ng-select>



                        <div class="col-md-6">
                            <mat-form-field class="form-field-width1" appearance="outline">
                                <mat-label> Vendor Concerned person Name</mat-label>
                                <input type="text" matInput placeholder=" Vendor Concerned person  Name"
                                    name="vederconcernedpersonName" #vederconcernedpersonName="ngModel" required
                                    [(ngModel)]="model.vederconcernedpersonName">
                            </mat-form-field>
                        </div>
                        <mat-form-field class="form-field-width1">
                            <mat-select placeholder="Series" name="series" #series="ngModel" required
                                [(ngModel)]="model.series">
                                <mat-option value="raw">Raw</mat-option>
                                <mat-option value="consumeable">Consumeable</mat-option>
                            </mat-select>
                        </mat-form-field>


                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Require Date </mat-label>

                            <input matInput placeholder="Require Date" [matDatepicker]="picker3"
                                (focus)="picker3.open()" (click)="picker3.open()" name="requireDate"
                                #requireDate="ngModel" [(ngModel)]="model.requireDate">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput placeholder="Description" name="description" #description="ngModel"
                                [(ngModel)]="model.description"></textarea>
                        </mat-form-field>




                        <ng-select placeholder="Indent Number" appearance="outline" (change)='onalbum($event)'
                            name="indentNo" #indentNo="ngModel" [(ngModel)]="model.indentNo">
                            <mat-label>Indent Number </mat-label>
                            <ng-container *ngFor="let indententry of allindententry">

                                <ng-option *ngIf="indententry.finalSubmit===''" [value]="indententry._id">
                                    {{indententry.indentNumber}}</ng-option>

                            </ng-container>
                        </ng-select>
                        <!-- length === 0 *ngIf="singleindententrydetails.length===0" -->
                        <div *ngIf="singleindententrydetails">
                            <h3>department:{{singleindententrydetails.department}}</h3>
                            <h3>createdBy:{{singleindententrydetails.createdBy}}</h3>
                            <h3>requiredBy:{{singleindententrydetails.requiredBy}}</h3>
                            <h3>createdDepartment:{{singleindententrydetails.createdDepartment}}</h3>
                            <h3>Employee Name:</h3>
                            <h3>Indent Created date</h3>
                        </div>





                        <!-- <button (click)="onalbum(indententry._id)"
                            *ngFor="let indententry of allindententry">click</button> -->



                        <!-- 
                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Type </mat-label>
                            <input type="number" matInput placeholder="type" name="type" #type="ngModel" required
                                [(ngModel)]="model.type">
                        </mat-form-field> -->

                        <h3>Order Number:{{random}}</h3>
                        <!-- <mat-form-field class="form-field-width2" appearance="outline">
                            <mat-label>Order Number </mat-label>
                            <input matInput placeholder="Order Number" value="ON:{{random}}" name="orderNumber"
                                #orderNumber="ngModel" [(ngModel)]="model.orderNumber">
                        </mat-form-field> -->


                        <!-- <span mat-button matSuffix mat-icon-button aria-label style="cursor:pointer">
                            <mat-icon style="margin-left:8px" (click)="makeID()" onClick="return false">
                                add_circle_outline
                            </mat-icon>
                        </span> -->



                        <!-- <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Order Date </mat-label>

                            <input matInput placeholder="Order Date" [matDatepicker]="picker" (focus)="picker.open()"
                                (click)="picker.open()" name="orderDate" #orderDate="ngModel"
                                [(ngModel)]="model.orderDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field> -->



                        <!-- <mat-form-field *ngIf="model.supplierName" class="form-field-width1" appearance="outline">
                            <mat-label>Email </mat-label>
                            <input type="text" matInput placeholder="Email" name="emailSupplier"
                                #emailSupplier="ngModel" value="{{singleSupplier.email}}"
                                [(ngModel)]="model.emailSupplier">
                        </mat-form-field>
                        <mat-form-field *ngIf="model.supplierName" class="form-field-width1" appearance="outline">
                            <mat-label>Mobile Number </mat-label>
                            <input type="text" matInput placeholder="Mobile Supplier" name="mobileSupplier"
                                #mobileSupplier="ngModel" value="{{singleSupplier.mobileNumber}}"
                                [(ngModel)]="model.mobileSupplier">
                        </mat-form-field> -->





                        <!-- <span style="font-weight: 600">Status:</span>&nbsp;&nbsp;
                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Selected </mat-label>

                            <mat-select [(value)]="selected" [(ngModel)]="model.isActive"
                                [ngModelOptions]="{standalone: true}">
                                <mat-option value="publish">Publish</mat-option>
                                <mat-option value="unpublish">Unpublish</mat-option>
                            </mat-select>
                        </mat-form-field> -->



                        <div class="cdk-virtual-scroll-data-source-example">
                            <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50"
                                class="example-viewport">
                                <!-- <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div> -->
                                <!-- {{singleindententrydetails}} -->

                                <table>
                                    <tr>
                                        <th width="5%">Sr No.</th>
                                        <th width="20%">Item Name</th>
                                        <th width="20%">Mannual Code</th>
                                        <th width="20%">Stock Unit</th>

                                        <th width="20%">Require Quantity</th>
                                        <!-- <th width="15%">Cost Center</th> -->
                                        <!-- <th width="15%">Total Amounts</th> -->
                                        <th width="20%">Rate</th>

                                        <th width="20%">Remark</th>
                                        <!-- <th width="10%">Department</th> -->
                                        <!-- <th width="20%">Req Date</th> -->
                                        <!-- <th width="10%"> <a mat-raised-button color="primary"
                                                [routerLink]="[singleindententrydetails._id]">
                                                <mat-icon>edit</mat-icon>
                                            </a></th> -->


                                    </tr>

                                    <tr *ngFor="let singleindententrydetails of FullArray let i= index">
                                        <!-- <h1>deepak</h1> -->
                                        <td>{{i+1}}</td>
                                        <!-- <td>{{singleindententrydetails._id}}</td> -->
                                        <!-- <td>{{singleindententrydetails.itemNames}}</td> -->

                                        <!-- <td>{{singleindententrydetails.currentStocks}}</td> -->
                                        <td>{{singleindententrydetails.itemName}}</td>
                                        <td>{{singleindententrydetails.manualCode}}</td>

                                        <td>{{singleindententrydetails.stockUnit}}</td>


                                        <td>{{singleindententrydetails.reqQtys}}</td>

                                        <!-- <td>{{singleindententrydetails.costCenters}}</td> -->

                                        <mat-form-field class="form-field-width" appearance="outline">
                                            <mat-label>Rate </mat-label>
                                            <input type="number" matInput placeholder="type" name="rate" #rate="ngModel"
                                                required [(ngModel)]="model.rate">
                                        </mat-form-field>
                                        <!-- <td>{{singleindententrydetails.totalAmounts}}</td> -->
                                        <td>{{singleindententrydetails.remarks}}</td>
                                        <!-- <td>{{singleindententrydetails.department}}</td> -->
                                        <td>{{singleindententrydetails.reqDates | date:'MM/dd/yy'}}</td>
                                        <!-- <td> <a mat-raised-button color="warn"
                                                (click)="deleteProduct(singleindententrydetails._id)">
                                                <mat-icon>delete</mat-icon>
                                            </a></td>

                                        <a mat-raised-button color="primary"
                                            [routerLink]="[singleindententrydetails._id,'edit']">
                                            <mat-icon>edit</mat-icon>
                                        </a> -->

                                    </tr>
                                    <!-- <tr *ngIf="total">
                                        <td>Total Req{{total}}</td>
                                    </tr> -->



                                </table>


                            </cdk-virtual-scroll-viewport>
                        </div>







                        <!-- <button mat-raised-button routerLink="/productreports" routerLinkActive="router-link-active"
                            color="primary">{{"Save"}}</button> -->
                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>