<mat-toolbar class="sticky mat-elevation-z1" color="primary">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    Purchase Order
</mat-toolbar>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="60%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>
                        <!-- 
                        <div *ngFor="let indententry of allindententry">
                            <button (click)="onalbum($event, indententry._id)">{{indententry.indentNumber}}</button>
                        </div> -->
                        <!-- (ngModelChange)='onalbum($event)' -->
                        <ng-select placeholder="Indent Number" appearance="outline" (change)='onalbum($event)'
                            name="indentNo" #indentNo="ngModel" [(ngModel)]="model.indentNo">
                            <mat-label>Indent Number </mat-label>
                            <ng-option *ngFor="let indententry of allindententry" [value]="indententry._id">
                                {{indententry.indentNumber}}</ng-option>
                        </ng-select>

                        <!-- <button (click)="onalbum(indententry._id)"
                            *ngFor="let indententry of allindententry">click</button> -->



                        <!-- 
                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Type </mat-label>
                            <input type="number" matInput placeholder="type" name="type" #type="ngModel" required
                                [(ngModel)]="model.type">
                        </mat-form-field> -->


                        <mat-form-field class="form-field-width2" appearance="outline">
                            <mat-label>Order Number </mat-label>
                            <input matInput placeholder="Order Number" value="{{random}}" name="orderNumber"
                                #orderNumber="ngModel" [(ngModel)]="model.orderNumber">
                        </mat-form-field>


                        <span mat-button matSuffix mat-icon-button aria-label style="cursor:pointer">
                            <mat-icon style="margin-left:8px" (click)="makeID()" onClick="return false">
                                add_circle_outline
                            </mat-icon>
                        </span>



                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Order Date </mat-label>

                            <input matInput placeholder="Order Date" [matDatepicker]="picker" (focus)="picker.open()"
                                (click)="picker.open()" name="orderDate" #orderDate="ngModel"
                                [(ngModel)]="model.orderDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>



                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Supplier </mat-label>
                            <input type="text" matInput placeholder="Supplier" name="supplier" #supplier="ngModel"
                                required [(ngModel)]="model.supplier">
                        </mat-form-field>




                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Currency(INR) </mat-label>
                            <input type="number" matInput placeholder="Currency(INR)" name="currency"
                                #currency="ngModel" required [(ngModel)]="model.currency">
                        </mat-form-field>







                        <div class="cdk-virtual-scroll-data-source-example">
                            <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50"
                                class="example-viewport">
                                <!-- <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div> -->
                                <!-- {{singleindententrydetails}} -->

                                <table>
                                    <tr>
                                        <th width="5%">Sr No.</th>
                                        <th width="20%">Item Name</th>
                                        <th width="20%">Current Sku</th>
                                        <th width="15%">Order Qty</th>
                                        <th width="15%">Cost Center</th>
                                        <th width="20%">Remark</th>
                                        <th width="25%">Unit Name</th>
                                        <!-- <th width="10%">Department</th> -->
                                        <th width="20%">Req Date</th>
                                        <!-- <th width="10%"> <a mat-raised-button color="primary"
                                                [routerLink]="[singleindententrydetails._id]">
                                                <mat-icon>edit</mat-icon>
                                            </a></th> -->


                                    </tr>

                                    <tr *ngFor="let singleindententrydetails of FullArray let i= index">
                                        <!-- <h1>deepak</h1> -->
                                        <td>{{i+1}}</td>
                                        <!-- <td>{{singleindententrydetails._id}}</td> -->
                                        <td>{{singleindententrydetails.itemNames}}</td>

                                        <td>{{singleindententrydetails.currentStocks}}</td>
                                        <td>{{singleindententrydetails.reqQtys}}</td>



                                        <td>{{singleindententrydetails.costCenters}}</td>
                                        <td>{{singleindententrydetails.remarks}}</td>
                                        <td>{{singleindententrydetails.unitNames}}</td>
                                        <!-- <td>{{singleindententrydetails.department}}</td> -->
                                        <td>{{singleindententrydetails.reqDates | date:'MM/dd/yy'}}</td>
                                        <!-- <td> <a mat-raised-button color="warn"
                                                (click)="deleteProduct(singleindententrydetails._id)">
                                                <mat-icon>delete</mat-icon>
                                            </a></td>

                                        <a mat-raised-button color="primary"
                                            [routerLink]="[singleindententrydetails._id,'edit']">
                                            <mat-icon>edit</mat-icon>
                                        </a> -->

                                    </tr>



                                </table>


                            </cdk-virtual-scroll-viewport>
                        </div>







                        <!-- <button mat-raised-button routerLink="/productreports" routerLinkActive="router-link-active"
                            color="primary">{{"Save"}}</button> -->
                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>