<app-topnevigation></app-topnevigation>


<div class="row">
    <div class="col-md-2" style="padding-left: 0px;">
    <app-sidenav></app-sidenav>
  </div>


  <div class="col-md-10" style="padding-top: 89px;"> 
<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="60%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>




                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Department Name </mat-label>
                            <input type="text" matInput placeholder="Department Name" name="departmentName"
                                #departmentName="ngModel" [(ngModel)]="model.departmentName">
                        </mat-form-field>

                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Department Head </mat-label>
                            <input type="text" matInput placeholder="Department Head" name="departmentHead"
                                #departmentHead="ngModel" [(ngModel)]="model.departmentHead">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="form-field-width1">

                            <mat-label>Consumption Date </mat-label>

                            <input matInput placeholder="Consumption Date" [matDatepicker]="picker"
                                (focus)="picker.open()" (click)="picker.open()" name="consumptionDate"
                                #consumptionDate="ngModel" [(ngModel)]="model.consumptionDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Issue Person </mat-label>
                            <input type="text" matInput placeholder="Issue Person" name="issuePerson"
                                #issuePerson="ngModel" [(ngModel)]="model.issuePerson">
                        </mat-form-field>




                        <ng-select class="form-field-width1" (change)="onalbum($event)" appearance="outline"
                            placeholder="Item Name" name="itemName" #itemName="ngModel" [(ngModel)]="model.itemName">
                            <mat-label>Item Name </mat-label>
                            <ng-option *ngFor="let car of ItemsName let i = index" [value]="car._id">
                                {{car.itemName}}

                            </ng-option>
                        </ng-select>

                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Current Quantity</mat-label>
                            <input readonly="readonly" type="text" matInput placeholder="Current Quantity"
                                name="currentQuantity" value="{{stockUnit}}" #currentQuantity="ngModel"
                                [(ngModel)]="model.currentQuantity">
                        </mat-form-field>



                        <!-- <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Truck Weight </mat-label>
                            <input type="text" matInput placeholder="Truck Weight" name="truckWeight"
                                #truckWeight="ngModel" [(ngModel)]="model.truckWeight"
                                (keyup)="onKey(productWeight.value)">
                        </mat-form-field>

                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Product Weight </mat-label>
                            <input matInput placeholder="Product Weight" #productWeight
                                value="{{singlegateentry.allweight - model.truckWeight}}">
                        </mat-form-field> -->



                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Item Quantity</mat-label>
                            <input type="text" matInput placeholder="Item Quantity" name="itemQuantity"
                                #itemQuantity="ngModel" [(ngModel)]="model.itemQuantity"
                                (keyup)="onKey(itemQuantity.value)">
                        </mat-form-field>

                        <mat-form-field class=" form-field-width" appearance="outline">
                            <mat-label>Current Item Stock</mat-label>
                            <input matInput placeholder="Current Stock Item" readonly="readonly" #currentItemstock
                                value="{{stockUnit - model.itemQuantity}}">
                        </mat-form-field>


                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput placeholder="Description" name="description" #description="ngModel"
                                [(ngModel)]="model.description"></textarea>
                        </mat-form-field>
                        <!-- (ngModelChange)="stateChange($event)" -->
                        <!-- [attr.data-manualCode]="i" -->
                        <!-- (change)="stateChange($event.value)" -->
                        <!----DROPDWONLIST--->
                        <!-- $() -->
                        <!-- 
                        <h1>
                            value
                            hhhh{{model.itemName}}
                            manualcode{{model.manualCode}}
                        </h1> -->



                        <!-- *ngFor="let car of ItemsName let i = index" [attr.data-index]="i" -->





                        <!-- <h3>Description</h3>
                        <angular-editor name="description" #description="ngModel" [(ngModel)]="model.description"
                            [config]="config"></angular-editor> -->




                        <!-- <button mat-raised-button routerLink="/productreports" routerLinkActive="router-link-active"
                            color="primary">{{"Save"}}</button> -->
                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
</div>
</div>