<mat-toolbar class="sticky mat-elevation-z1" color="primary">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    Jumbo Roll Entry
</mat-toolbar>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="100%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>






                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Entry Number </mat-label>
                            <input matInput placeholder="Entry Number" name="entryNumber" #entryNumber="ngModel"
                                [(ngModel)]="model.entryNumber">
                        </mat-form-field>


                        <ng-select appearance="outline" placeholder="Jumbo Roll Number" name="jumboRollNumber"
                            #jumboRollNumber="ngModel" [(ngModel)]="model.jumboRollNumber">
                            <mat-label>Jumbo Roll Number</mat-label>
                            <ng-option *ngFor="let car of cars" [value]="car.manualCode">
                                {{car.id}}
                                {{car.name}}
                            </ng-option>
                        </ng-select>


                        <mat-form-field class="form-field-width4" appearance="outline">
                            <mat-label>Entry Date </mat-label>

                            <input matInput placeholder="Entry Date" [matDatepicker]="picker" (focus)="picker.open()"
                                (click)="picker.open()" name="entryDate" #entryDate="ngModel"
                                [(ngModel)]="model.entryDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
















                        <div class="cdk-virtual-scroll-data-source-example">

                            <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50"
                                class="example-viewport">

                                <table>
                                    <tr>
                                        <th width="5%">Sr No.</th>
                                        <th width="15%">Jumbo Roll Number</th>
                                        <th width="10%">Item Name</th>
                                        <th width="10%">Quality</th>
                                        <th width="10%">GSM</th>
                                        <th width="10%">Brightness</th>
                                        <th width="10%">Remark</th>
                                        <th width="10%">Weight</th>
                                        <th width="10%">Barcode</th>
                                        <th width="10%">Burst Factor(BF)</th>

                                    </tr>
                                    <tr>

                                        <td>
                                            1

                                            <!-- <ng-select style="width: 200px;" (change)='onalbum($event)'
                                                appearance="outline" placeholder="Item Name" name="itemName"
                                                #itemName="ngModel" [(ngModel)]="model.itemName">
                                                <mat-label>Item Name </mat-label>
                                                <ng-option *ngFor="let car of ItemsName let i = index"
                                                    [value]="car._id">

                                                    {{car.itemName}}
                                                    {{car.manualCode}}
                                                </ng-option>
                                            </ng-select> -->






                                        </td>

                                        <td>
                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>Job Roll Number </mat-label>
                                                <input type=" text" matInput placeholder="Job Roll Number"
                                                    name="jobRollNumber" #jobRollNumber="ngModel"
                                                    [(ngModel)]="model.jobRollNumber">
                                            </mat-form-field>
                                        </td>





                                        <td>



                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>Item Name </mat-label>
                                                <input type=" text" matInput placeholder="Item Name" name="itemName"
                                                    #itemName="ngModel" [(ngModel)]="model.itemName">
                                            </mat-form-field>



                                        </td>
                                        <td>
                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>Quality </mat-label>
                                                <input type="text" matInput placeholder="Quality" name="quality"
                                                    #quality="ngModel" required [(ngModel)]="model.quality">
                                            </mat-form-field>

                                        </td>
                                        <td>

                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>GSM </mat-label>
                                                <input type="text" matInput placeholder="gsm" name="gsm" #gsm="ngModel"
                                                    required [(ngModel)]="model.gsm">
                                            </mat-form-field>




                                        </td>
                                        <td>
                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>Brightness </mat-label>
                                                <input type="text" matInput placeholder="Brightness" name="brightness"
                                                    #brightness="ngModel" required [(ngModel)]="model.brightness">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>Remark </mat-label>
                                                <input type="text" matInput placeholder="Remark" name="remark"
                                                    #remark="ngModel" required [(ngModel)]="model.remark">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>Weight </mat-label>
                                                <input type="text" matInput placeholder="Weight" name="weight"
                                                    #weight="ngModel" required [(ngModel)]="model.weight">
                                            </mat-form-field>
                                        </td>


                                        <td>
                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>Barcode </mat-label>
                                                <input type="text" matInput placeholder="Barcode" name="barcode"
                                                    #barcode="ngModel" required [(ngModel)]="model.barcode">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>Burst Factor </mat-label>
                                                <input type="text" matInput placeholder="Burst Factor"
                                                    name="burstFactor" #burstFactor="ngModel" required
                                                    [(ngModel)]="model.burstFactor">
                                            </mat-form-field>
                                        </td>


                                    </tr>







                                </table>


                            </cdk-virtual-scroll-viewport>
                        </div>





                        <!-- <button mat-raised-button routerLink="/productreports" routerLinkActive="router-link-active"
                            color="primary">{{"Save"}}</button> -->
                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
















        </div>
    </div>
</div>