<app-topnevigation></app-topnevigation>


<div class="row">
    <div class="col-md-2" style="padding-left: 0px;">
    <app-sidenav></app-sidenav>
  </div>

  <div class="col-md-10" style="padding-top: 25px;"> 

<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="40%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>

                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Item Name </mat-label>
                            <input type="text" matInput placeholder="Item Name" name="itemName" #itemName="ngModel"
                                required [(ngModel)]="model.itemName">
                        </mat-form-field>

                        <!-- <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Category </mat-label>
                            <input type="text" matInput placeholder="Category" name="category" #category="ngModel"
                                required [(ngModel)]="model.category">
                        </mat-form-field> -->

                        <!-- <ng-select appearance="outline" placeholder="Category" name="category"
                            #category="ngModel" [(ngModel)]="model.category">
                            <mat-label>Category </mat-label>
                            <ng-option *ngFor="let car of categ let i = index" [value]="car.category">
                                {{car.category}}
                            </ng-option>
                        </ng-select> -->

                        <div>
                            <mat-form-field appearance="outline" class="form-field-width2">
                                <mat-label>Manual Code </mat-label>
                                <input type="text" matInput placeholder="Manual Code" name="manualCode"
                                    #manualCode="ngModel" value="{{random}}" [(ngModel)]="model.manualCode">
                            </mat-form-field>
                            <!-- <a mat-button (click)="makeid()">auto generate</a> -->
                            <!-- <mat-icon matListIcon svgIcon="about" class="lg-icon"></mat-icon> -->
                            <mat-icon mat-button (click)="makeid()">refresh</mat-icon>
                        </div>






                        <!-- <button mat-raised-button routerLink="/productreports" routerLinkActive="router-link-active"
                            color="primary">{{"Save"}}</button> -->
                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
</div>