<mat-toolbar class="sticky mat-elevation-z1" color="warn">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    {{title}}
</mat-toolbar>



<!-- <mat-toolbar class="fixed" [class.apply]="scroll >= 5 && scroll < 4425">
    <h1 routerLink="/">
        Polytechnic Engineering
    </h1>
    <span class="right-spacer"></span>
    <h1 routerLink="/login">
        <a mat-button class="post">
            Login
        </a>
    </h1>
</mat-toolbar> -->