<app-sidenav></app-sidenav>
<section class="all__heading__0">
    <div class="container">
                <mat-card-title style="text-align: left;">
                    <h3>Item Master</h3>
                </mat-card-title>
            </div>
            </section>
<!-- 
<ng-container *ngIf="search">
    <p>User posts titles:</p>
    <ul>
        <li *ngFor="let blogPost of search">
            {{blogPost.itemName}}
        </li>
    </ul>
</ng-container> -->

<div class="container">
<h1>jhsdghhghfksgh</h1>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilters($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
            <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
      






<!-- <mat-card matRipple class="a-margin item-click" *ngFor="let item of allitemmaster |filter:term"
    routerLinkActive=" router-link-active">
    <mat-card-header [routerLink]="[item._id]">
        <div mat-card-avatar class="example-header-image"></div>

        <mat-card-title style="font-size: 16px;">{{item?.itemName || '&nbsp;'}}</mat-card-title>
        <span class="right-spacer"></span>
        <mat-icon style="margin-top:7px;">keyboard_arrow_right</mat-icon>
        <mat-card-subtitle>{{item.category}}
        </mat-card-subtitle>
    </mat-card-header>
</mat-card> -->
</div>