.cdk-virtual-scroll-data-source-example .example-viewport {
    height: 400px;
    width: 100%;
    border: 2px solid black;
  }
  
  .cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: row;
  }
  
  .cdk-virtual-scroll-data-source-example .example-item {
    width: 100px;
    height: 100%;
    writing-mode: vertical-lr;
  }
  
  tr th {
    text-align: left;
  }
  