<mat-toolbar class="sticky mat-elevation-z1" color="primary">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    Purchase Return
</mat-toolbar>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="40%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>


                        <ng-select appearance="outline" placeholder="Purchase Order Number" (change)='myFun($event)'
                            name="purchaseOrderNo" #purchaseOrderNo="ngModel" [(ngModel)]="model.purchaseOrderNo">
                            <mat-label>Purchase Order Number </mat-label>
                            <ng-container *ngFor="let car of Unit">
                                <ng-option *ngIf="car.finalSubmit===''" [value]="car._id">{{car.orderNumber}}
                                </ng-option>
                            </ng-container>
                        </ng-select>
                        <!-- <ng-select placeholder="Purchase Order No" name="purchaseOrderNo" #purchaseOrderNo="ngModel"
                            [(ngModel)]="model.purchaseOrderNo">
                            <ng-option *ngFor="let car of Unit" [value]="car.orderNumber">{{car.orderNumber}}
                            </ng-option>
                        </ng-select> -->


                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Purchase Return Entry Number </mat-label>
                            <input type="number" matInput placeholder="Purchase Return Entry Number"
                                name="prEntryNumber" #prEntryNumber="ngModel" required
                                [(ngModel)]="model.prEntryNumber">
                        </mat-form-field>



                        <mat-form-field class="form-field-width4">
                            <input matInput placeholder="Entry Date" [matDatepicker]="picker" [min]="today"
                                [max]="today" (focus)="picker.open()" (click)="picker.open()" name="entryDate"
                                #entryDate="ngModel" [(ngModel)]="model.entryDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>






                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Transport Type </mat-label>
                            <mat-select placeholder="Transport Type" name="transportType" #transportType="ngModel"
                                [(ngModel)]="model.transportType">
                                <mat-option value="truck">Truck</mat-option>
                                <mat-option value="taxi">Taxi</mat-option>
                                <mat-option value="tractor">Tractor</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Vehical Number </mat-label>
                            <input type="number" matInput placeholder="Vehical Number" name="vehicalNumber"
                                #vehicalNumber="ngModel" required [(ngModel)]="model.vehicalNumber">
                        </mat-form-field>





                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Supplier Name </mat-label>
                            <input type="text" matInput placeholder="Supplier Name" name="supplierName"
                                #supplierName="ngModel" required [(ngModel)]="model.supplierName">
                        </mat-form-field>















                        <div class="cdk-virtual-scroll-data-source-example">
                            <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50"
                                class="example-viewport">
                                <!-- <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div> -->


                                <!-- <h1>all data {{singlepurchaseorderdetails | json}}</h1> -->
                                <!-- <h1>indent data {{indent| json}}</h1> -->

                                <table>
                                    <tr>
                                        <th width="5%">Sr No.</th>
                                        <th width="10%">Item Name</th>
                                        <th width="10%">Manual Code</th>

                                        <th width="10%">Order Quantity</th>
                                        <th width="10%">Amount</th>
                                        <th width="10%">Remarks</th>


                                    </tr>
                                    <tr *ngFor="let singlepurchasedetails of purchaseOrders let i= index">
                                        <td>{{i+1}}</td>
                                        <td>{{singlepurchasedetails.itemName}}</td>
                                        <td>{{singlepurchasedetails.manualCode}}</td>
                                        <td>{{singlepurchasedetails.reqQtys}}</td>
                                        <td>{{singlepurchasedetails.totalAmounts}}</td>
                                        <td>{{singlepurchasedetails.remarks}}</td>



                                    </tr>
                                    <tr *ngIf="total">
                                        <td>Total Req{{total}}</td>
                                    </tr>



                                </table>


                            </cdk-virtual-scroll-viewport>
                        </div>

                        <!-- <button mat-raised-button routerLink="/productreports" routerLinkActive="router-link-active"
                            color="primary">{{"Save"}}</button> -->
                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>