<app-topnevigation></app-topnevigation>


<div class="row">
    <div class="col-md-2" style="padding-left: 0px;">
    <app-sidenav></app-sidenav>
  </div>

<!-- 
<ng-container *ngIf="search">
    <p>User posts titles:</p>
    <ul>
        <li *ngFor="let blogPost of search">
            {{blogPost.itemName}}
        </li>
    </ul>
</ng-container> -->


<div class="col-md-10" style="padding-top: 89px;"> 
<mat-card matRipple class="a-margin item-click" *ngFor="let item of allitemmaster |filter:term"
    routerLinkActive=" router-link-active">
    <mat-card-header [routerLink]="[item._id]">
        <div mat-card-avatar class="example-header-image"></div>

        <mat-card-title style="font-size: 16px;">{{item?.supplierName || '&nbsp;'}}</mat-card-title>
        <span class="right-spacer"></span>
        <mat-icon style="margin-top:7px;">keyboard_arrow_right</mat-icon>
        <mat-card-subtitle>{{item.mobileNumber}}
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>
</div>
</div>