<section class="top__navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo__menu">

                    <img src="../../../assets/images/Logo-header.png" alt="logo__menu" />
                </div>
            </div>
            <div class="col-md-9">

                <div class="profile-info_0">
                    <ul>
                        <li>   
                            <div class="notifactions"><img src="../../../assets/images/7.svg" alt="user" /></div>
                        </li>
                        <li>
                            <div class="notifactions"><img src="../../../assets/images/8.svg" alt="user" /></div>
                        </li>


                        <li>
                            <div class="user-img3">
                                <a mat-list-item routerLinkActive="router-link-active" [routerLink]="['/login']">
                                    <img src="../../../assets/images/face28.png" alt="user" />
                                </a>
                            </div>
                        </li>

                    </ul>


                </div>
            </div>
            .
        </div>
    </div>
</section>