<app-topnevigation></app-topnevigation>


<div class="row">
    <div class="col-md-2" style="padding-left: 0px;">
    <app-sidenav></app-sidenav>
  </div>


<div class="col-md-10" style="padding-top: 25px;"> 
<div class="categories__0" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="40%">
        <div class="pad-top-no">
            <mat-card class="a-margin ad__backgrounds">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>

                        <div class="col-md-6">
                            <h3> Category Id:{{random}}</h3>
                        </div>
                        <div class="col-md-6">
                            <h3>Date: <input readonly="readonly" placeholder="categoryDate" name="categoryDate"
                                    [(ngModel)]="categoryDate">
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="form-field-width1" appearance="outline">
                                <mat-label>Created By</mat-label>
                                <input type="text" matInput placeholder="Created By" name="createdBy"
                                    #createdBy="ngModel" required [(ngModel)]="model.createdBy">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="form-field-width1" appearance="outline">
                                <mat-label>Department Name</mat-label>
                                <input type="text" matInput placeholder="Department Name" name="departmentName"
                                    #departmentName="ngModel" required [(ngModel)]="model.departmentName">
                            </mat-form-field>
                        </div>


                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Category </mat-label>
                            <input type="text" matInput placeholder="Category" name="category" #category="ngModel"
                                required [(ngModel)]="model.category">
                        </mat-form-field>

                        <div class="col-md-6">
                            <h3> Mannual Code:{{randoms}}</h3>

                        </div>


                        <!-- <button mat-raised-button routerLink="/productreports" routerLinkActive="router-link-active"
                            color="primary">{{"Save"}}</button> -->
                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="40%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>

                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag *ngFor="let unit of allcategory">
                            {{unit.category}}
                        </mat-chip>
                    </mat-chip-list>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
</div>
</div>