<mat-toolbar class="sticky mat-elevation-z1" color="primary">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    Weighment Two
</mat-toolbar>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="40%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>



                        <!-- <h1>gate entry {{singlegateentry | json}}</h1> -->




                        <ng-select placeholder="Vehical Number" (change)='onalbum($event)' name="gates" #gates="ngModel"
                            [(ngModel)]="model.gates">
                            <ng-option *ngFor="let car of gate" [value]="car._id">{{car.vehicalNumber}}
                            </ng-option>
                        </ng-select>

                        <!-- <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Challan Number </mat-label>
                            <input type="number" matInput placeholder="Challan Number" name="challanNumber"
                                #challanNumber="ngModel" required [(ngModel)]="model.challanNumber">
                        </mat-form-field> -->



                        <mat-form-field class="form-field-width4">
                            <input readonly="readonly" matInput placeholder="Entry Date" value="{{FullArray.entryDate}}"
                                [matDatepicker]="picker" (focus)="picker.open()" (click)="picker.open()"
                                name="entryDate" #entryDate="ngModel" [(ngModel)]="model.entryDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>





                        <!-- <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Transport Type </mat-label>
                            <mat-select placeholder="Transport Type" name="transportType" #transportType="ngModel"
                                [(ngModel)]="model.transportType">
                                <mat-option value="truck">Truck</mat-option>
                                <mat-option value="taxi">Taxi</mat-option>
                                <mat-option value="tractor">Tractor</mat-option>
                            </mat-select>
                        </mat-form-field> -->

                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Vehical Number </mat-label>
                            <input readonly="readonly" matInput placeholder="Vehical Number"
                                value="{{FullArray.vehicalNumber}}" name="vehicalNumber" #vehicalNumber="ngModel"
                                [(ngModel)]="model.vehicalNumber">
                        </mat-form-field>


                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Driver Name </mat-label>
                            <input readonly="readonly" matInput placeholder="Driver Name"
                                value="{{FullArray.driverName}}" name="driverName" #driverName="ngModel"
                                [(ngModel)]="model.driverName">
                        </mat-form-field>
                        <!-- 
                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Gate Entry Number </mat-label>
                            <mat-select placeholder="Gate Entry Number" name="gateEntryNumber"
                                #gateEntryNumber="ngModel" [(ngModel)]="model.gateEntryNumber">
                                <mat-option value="one">One</mat-option>
                                <mat-option value="two">Two</mat-option>
                                <mat-option value="three">Three</mat-option>
                            </mat-select>
                        </mat-form-field> -->

                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Supplier Name </mat-label>
                            <input readonly="readonly" matInput placeholder="Supplier Name"
                                value="{{FullArray.supplierName}}" name="supplierName" #supplierName="ngModel"
                                [(ngModel)]="model.supplierName">
                        </mat-form-field>




                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Weight </mat-label>
                            <input readonly="readonly" matInput placeholder="Weight" value="{{FullArray.truckWeight}}"
                                name="weight" #weight="ngModel" [(ngModel)]="model.weight">
                        </mat-form-field>



                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Truck Weight </mat-label>
                            <input type="text" matInput placeholder="Truck Weight" name="truckWeight"
                                #truckWeight="ngModel" [(ngModel)]="model.truckWeight">
                        </mat-form-field>


                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Product Weight </mat-label>
                            <input type="text" matInput placeholder="Product Weight" name="productWeight"
                                value="{{FullArray.truckWeight - model.truckWeight}}" #productWeight="ngModel"
                                [(ngModel)]="model.productWeight">
                        </mat-form-field>


                        <!-- <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Supplier Bill Number </mat-label>
                            <input type="text" matInput placeholder="Supplier Bill Number" name="supplierBillNumber"
                                #supplierBillNumber="ngModel" required [(ngModel)]="model.supplierBillNumber">
                        </mat-form-field> -->





                        <!-- 
                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Road Permit Number </mat-label>
                            <input type="number" matInput placeholder="Road Permit Number" name="roadPermitNumber"
                                #roadPermitNumber="ngModel" required [(ngModel)]="model.roadPermitNumber">
                        </mat-form-field> -->





                        <!-- <button mat-raised-button routerLink="/productreports" routerLinkActive="router-link-active"
                            color="primary">{{"Save"}}</button> -->
                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>