<mat-toolbar class="sticky mat-elevation-z1" color="primary">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    Reel Cutting Entry
</mat-toolbar>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="60%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>



                        <ng-select appearance="outline" placeholder="Jumbo Roll Number" (change)='singlejumbo($event)'
                            name="jumboRollNumber" #jumboRollNumber="ngModel" [(ngModel)]="model.jumboRollNumber">
                            <mat-label>Jumbo Roll Number</mat-label>
                            <ng-container *ngFor="let car of Unit">

                                <ng-option *ngIf="car.finalSubmit===''" [value]="car._id">
                                    {{car.jumbuRollNumber}}</ng-option>
                            </ng-container>
                        </ng-select>


                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Reel Cutting Date </mat-label>

                            <input matInput placeholder="Reel Cutting  Date" [matDatepicker]="picker"
                                (focus)="picker.open()" (click)="picker.open()" name="reelcuttingentryDate"
                                #reelcuttingentryDate="ngModel" [(ngModel)]="model.reelcuttingentryDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>






                        <mat-form-field class="form-field-width2" appearance="outline">
                            <mat-label>Item Name </mat-label>
                            <input readonly="readonly" matInput placeholder="Item Name"
                                value="{{ItemsName.jumboRollItemName}}" name="jumboRollItemName"
                                #jumboRollItemName="ngModel" [(ngModel)]="model.jumboRollItemName">
                        </mat-form-field>



                        <mat-form-field class="form-field-width2" appearance="outline">
                            <mat-label>GSM</mat-label>
                            <input readonly="readonly" matInput placeholder="GSM" value="{{ItemsName.jumbuGsm}}"
                                name="reelcuttingGsm" #reelcuttingGsm="ngModel" [(ngModel)]="model.reelcuttingGsm">
                        </mat-form-field>

                        <mat-form-field class="form-field-width2" appearance="outline">
                            <mat-label>Quality</mat-label>
                            <input matInput placeholder="Quality" readonly="readonly" value="{{ItemsName.jumbuQuality}}"
                                name="reelcuttingQuality" #reelcuttingQuality="ngModel"
                                [(ngModel)]="model.reelcuttingQuality">
                        </mat-form-field>
                        <mat-form-field class="form-field-width2" appearance="outline">
                            <mat-label>Brightness</mat-label>
                            <input readonly="readonly" matInput placeholder="Brightness"
                                value="{{ItemsName.jumbuBrightness}}" name="reelcuttingBrightness"
                                #reelcuttingBrightness="ngModel" [(ngModel)]="model.reelcuttingBrightness">
                        </mat-form-field>



                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>How many Reel </mat-label>
                            <mat-select placeholder="How Many Reel" (selectionChange)="onAddRell($event.value)"
                                [ngModelOptions]="{standalone: true}" name="manyReel" #manyReel="ngModel"
                                [(ngModel)]="model.manyReel">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                                <mat-option value="4">4</mat-option>
                                <mat-option value="5">5</mat-option>

                            </mat-select>
                        </mat-form-field>


                        <!-- {{ItemsName | json}} -->

                        <qrcode
                            [qrdata]="[ItemsName.jumboRollItemName, ItemsName.jumbuGsm,  ItemsName.jumbuQuality, ItemsName.jumbuentryDate, ItemsName.machineNumber,ItemsName.machineCategory,ItemsName.jumboRollItemName, ItemsName.jumbuBrightness, ItemsName.jumbuWeight]"
                            [width]="200">
                        </qrcode>


                        <div class="cdk-virtual-scroll-data-source-example">

                            <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50"
                                class="example-viewport">

                                <table>
                                    <tr>
                                        <th width="10%">Sr No.</th>
                                        <th width="10%">Reel Number</th>
                                        <th width="10%">Size</th>
                                        <th width="10%">Unit</th>
                                        <th width="10%">Weight</th>

                                        <th width="10%"> Reel Remark</th>
                                        <th width="10%">Meterage</th>
                                        <!-- <th width="10%">Barcode</th> -->
                                        <!-- <th width="10%">Barcode</th> -->

                                    </tr>

                                    <tr *ngFor="let item of model.Tickets; let i = index;">


                                        <!-- {{ItemsName | json}} -->

                                        <td>
                                            {{i+1}}
                                        </td>
                                        <!-- <ng-select style="width: 200px;" appearance="outline"
                                        placeholder="Item Name" name="itemNames{{i}}" #itemNames="ngModel"
                                        [(ngModel)]="model.Tickets[i].itemNames">
                                        <mat-label>Item Name </mat-label>
                                        <ng-option *ngFor="let car of ItemsName let i = index"
                                            [value]="car.manualCode">
                                            {{car.itemName}}
                                            {{car.manualCode}}
                                        </ng-option>
                                    </ng-select> -->


                                        <td>
                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>Reel Number </mat-label>
                                                <input readonly="readonly" matInput placeholder="Reel Number"
                                                    value="{{ItemsName.jumbuRollNumber}}Reel{{random}}{{i}}"
                                                    name="reelNumber{{i}}" #reelNumber="ngModel"
                                                    [(ngModel)]="model.Tickets[i].reelNumber">
                                            </mat-form-field>

                                        </td>




                                        <td>
                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>Size </mat-label>
                                                <input type="text" matInput placeholder="Size" name="reelSize{{i}}}"
                                                    #reelSize="ngModel" [(ngModel)]="model.Tickets[i].reelSize">
                                            </mat-form-field>

                                        </td>

                                        <td>
                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>Unit </mat-label>
                                                <input type="text" matInput placeholder="Unit" name="reelUnit{{i}}}"
                                                    #reelUnit="ngModel" [(ngModel)]="model.Tickets[i].reelUnit">
                                            </mat-form-field>

                                        </td>


                                        <td>
                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>Weight </mat-label>
                                                <input type="text" matInput placeholder="Weight" name="reelWeight{{i}}}"
                                                    #reelWeight="ngModel" [(ngModel)]="model.Tickets[i].reelWeight">
                                            </mat-form-field>

                                        </td>



                                        <td>
                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>Reel Remark </mat-label>
                                                <input type="text" matInput placeholder="Reel Remark"
                                                    name="reelRemark{{i}}}" #reelRemark="ngModel"
                                                    [(ngModel)]="model.Tickets[i].reelRemark">
                                            </mat-form-field>

                                        </td>


                                        <td>
                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>Meterage </mat-label>
                                                <input type="text" matInput placeholder="Meterage"
                                                    value="{{model.Tickets[i].reelSize* model.Tickets[i].reelWeight* ItemsName.jumbuGsm}}"
                                                    name="reelMeterage{{i}}}" #reelMeterage="ngModel"
                                                    [(ngModel)]="model.Tickets[i].reelMeterage">
                                            </mat-form-field>

                                        </td>





                                    </tr>

                                </table>


                            </cdk-virtual-scroll-viewport>
                        </div>

                        <!-- <button mat-raised-button routerLink="/productreports" routerLinkActive="router-link-active"
                            color="primary">{{"Save"}}</button> -->
                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
















        </div>
    </div>
</div>