<div class="" [class.is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="sidenav-container">
    <!-- <mat-sidenav #snav mode="over" [fixedInViewport]="true" style="width: 300px;" [autoFocus]="false">
            <app-sidenav [inputSnav]="snav"></app-sidenav>
        </mat-sidenav> -->
    <mat-sidenav-content>
      <app-sidenav></app-sidenav>
      <!-- <mat-toolbar class="sticky mat-elevation-z1">
                <button mat-icon-button style="margin-right: 8px" aria-label="menu" (click)="snav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>

                <span routerLink="/" style="cursor: pointer;">
                    <strong> App </strong>
                </span>
            </mat-toolbar> -->

      <div class="content">


        <!-- <app-blog></app-blog> -->


        <!-- <app-details></app-details> -->
        <section class="all__heading__0">
          <div class="container">
            <mat-card-title style="text-align: left;">
              <h3>Welcome to Dashboard</h3>
            </mat-card-title>
          </div>
        </section>
        <section class="listing">
          <div class="container">
            <div class="row mt-3">
              <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">

                    <h4 class="card-title">Customers</h4>
                    <p class="text-small">+5.27% Since last month</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <h2 class="text-dark font-weight-bold">43,981<span class="text-muted text-extra-small">/ per
                          month</span></h2>
                      <div class="text-danger font-weight-bold d-flex justify-content-between align-items-center">
                        <i class="mdi mdi-chevron-down mdi-24px"></i> <span class=" text-extra-small">40.8%</span>
                      </div>
                    </div>
                    <div class="ico__09">


                      <img src="../../../assets/images/index.png" alt="user" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Orders</h4>
                    <p class="text-small">-1.08% Since last month</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <h2 class="text-dark font-weight-bold">55,543<span class="text-muted text-extra-small">/ per
                          month</span></h2>
                      <div class="text-success font-weight-bold d-flex justify-content-between align-items-center">
                        <i class="mdi mdi-chevron-up mdi-24px"></i> <span class=" text-extra-small">130.5%</span>
                      </div>
                    </div>
                    <div class="ico__09">


                      <img src="../../../assets/images/index.png" alt="user" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">

                    <h4 class="card-title">Growth</h4>
                    <p class="text-small">+5.27% Since last month</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <h2 class="text-dark font-weight-bold">58.86%<span class="text-muted text-extra-small">/ per
                          month</span></h2>
                      <div class="text-success font-weight-bold d-flex justify-content-between align-items-center">
                        <i class="mdi mdi-chevron-up mdi-24px"></i> <span class=" text-extra-small">120.3%</span>
                      </div>

                    </div>
                    <div class="ico__09">


                      <img src="../../../assets/images/index.png" alt="user" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">

                    <h4 class="card-title">Revenue</h4>
                    <p class="text-small"> +7.00% Since last month</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <h2 class="text-dark font-weight-bold">USD 42,9536<span class="text-muted text-extra-small">/ per
                          month</span></h2>
                    </div>
                    <div class="ico__09">


                      <img src="../../../assets/images/index.png" alt="user" />
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>



        <section class="anylatics">


          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-xl-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body px-0 pb-0 border-bottom">
                    <div class="px-4">
                      <div class="d-flex justify-content-between mb-2">
                        <h4 class="card-title ml-2">Analytics</h4>
                        <div class="mr-2">
                          <button class="btn py-0 text-dark btn-sm">1D</button>
                          <button class="btn py-0 text-dark btn-sm">1W</button>
                          <button class="btn py-0 text-dark btn-sm">1M</button>
                          <button class="btn py-0 pr-0 text-dark btn-sm">1Y</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pt-3">
                    <div>
                      <div class="total-analysis-position">
                        <h6 class="text-dark font-weight-bold mb-2">Total Analytics</h6>
                        <h2 class="text-dark font-weight-bold">$32456.65<span
                            class="text-muted text-extra-small pl-3">10.5% of 20000 Total</span></h2>
                      </div>
                      <div class="flot-chart-container flothcart-container-dashboard">
                        <div id="flotChart" class="flot-chart flot-chart-dashboard">
                          <img src="../../../assets/images/sf.png" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-12 col-sm-6 col-md-6 col-xl-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body px-0 pb-0 border-bottom">
                    <div class="px-4">
                      <div class="d-flex justify-content-between mb-2">
                        <h4 class="card-title ml-2">Analytics</h4>
                        <div class="mr-2">
                          <button class="btn py-0 text-dark btn-sm">1D</button>
                          <button class="btn py-0 text-dark btn-sm">1W</button>
                          <button class="btn py-0 text-dark btn-sm">1M</button>
                          <button class="btn py-0 pr-0 text-dark btn-sm">1Y</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pt-3">
                    <div>
                      <div class="total-analysis-position">
                        <h6 class="text-dark font-weight-bold mb-2">Total Analytics</h6>
                        <h2 class="text-dark font-weight-bold">$32456.65<span
                            class="text-muted text-extra-small pl-3">10.5% of 20000 Total</span></h2>
                      </div>
                      <div class="flot-chart-container flothcart-container-dashboard">
                        <div id="flotChart" class="flot-chart flot-chart-dashboard">


                          <img src="../../../assets/images/graph.png" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- 
              <mat-card matRipple class="a-margin item-click" *ngFor="let item of albums | async"
                  routerLinkActive="router-link-active">
                  <mat-card-header routerLink="/getallproducts/{{ item._id }}">
                      <div mat-card-avatar class="example-header-image"></div>


                      <mat-card-title style="font-size: 16px;">{{item?.productName || '&nbsp;'}}</mat-card-title>
                      <span class="right-spacer"></span>
                      <mat-icon style="margin-top:7px;">keyboard_arrow_right</mat-icon>
                      <mat-card-subtitle>{{item.ProductCost}} {{item.productDescription}}
                      </mat-card-subtitle>
                  </mat-card-header>
              </mat-card> -->




        <!-- <app-addcard></app-addcard> -->


        <!-- <app-youtube></app-youtube> -->







      </div>











      <!-- <app-bottom></app-bottom> -->

      <!-- <app-footer></app-footer> -->

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>