<div class="" [class.is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="sidenav-container">
    <!-- <mat-sidenav #snav mode="over" [fixedInViewport]="true" style="width: 300px;" [autoFocus]="false">
            <app-sidenav [inputSnav]="snav"></app-sidenav>
        </mat-sidenav> -->
    <mat-sidenav-content>
      <app-sidenav></app-sidenav>
      <!-- <mat-toolbar class="sticky mat-elevation-z1">
                <button mat-icon-button style="margin-right: 8px" aria-label="menu" (click)="snav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>

                <span routerLink="/" style="cursor: pointer;">
                    <strong> App </strong>
                </span>
            </mat-toolbar> -->


      <ngx-charts-bar-vertical [view]="[1000,400]" [results]="saleData" [xAxisLabel]="'Products'" [yAxisLabel]="'Sale'"
        [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="true">
      </ngx-charts-bar-vertical>







      <!-- <app-bottom></app-bottom> -->

      <!-- <app-footer></app-footer> -->

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>