<mat-toolbar class="sticky mat-elevation-z1" color="primary">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    Indent Entry
</mat-toolbar>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="60%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>

                        <div class="col-md-6">
                            <h3> Indent Id:{{random}}</h3>

                        </div>
                        <div class="col-md-6">
                            <h3> Created Date: <input readonly="readonly" placeholder="indentDate" name="indentDate"
                                    [(ngModel)]="indentDate">
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="form-field-width1" appearance="outline">
                                <mat-label>Created By</mat-label>
                                <input type="text" matInput placeholder="Created By" name="createdBy"
                                    #createdBy="ngModel" required [(ngModel)]="model.createdBy">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="form-field-width1" appearance="outline">
                                <mat-label>Department Name</mat-label>
                                <input type="text" matInput placeholder="Department Name" name="departmentName"
                                    #departmentName="ngModel" required [(ngModel)]="model.departmentName">
                            </mat-form-field>
                        </div>

                        <h3>Indent issued to</h3>


                        <ng-select class="form-field-width1" appearance="outline" placeholder="To Department"
                            name="department" #department="ngModel" [(ngModel)]="model.department">
                            <mat-label> To Department </mat-label>
                            <ng-option *ngFor="let car of departments" [value]="car.departmentName">
                                {{car.departmentName}}
                            </ng-option>
                        </ng-select>


                        <ng-select class="form-field-width1" appearance="outline" placeholder="To Employee Required by"
                            name="requiredBy" #requiredBy="ngModel" [(ngModel)]="model.requiredBy">
                            <mat-label>To Employee Required by</mat-label>
                            <ng-option *ngFor="let car of departments" [value]="car.departmentName">
                                {{car.departmentName}}
                            </ng-option>
                        </ng-select>


                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Required Date </mat-label>

                            <input matInput placeholder="Required Date" [matDatepicker]="picker" (focus)="picker.open()"
                                (click)="picker.open()" name="reqDate" #reqDate="ngModel" [(ngModel)]="model.reqDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput placeholder="Description" name="description" #description="ngModel"
                                [(ngModel)]="model.description"></textarea>
                        </mat-form-field>


                        <!-- <ng-select placeholder="Type" name="type" #type="ngModel" [(ngModel)]="model.type">
                            <ng-option *ngFor="let car of Unit" [value]="car.name">{{car.name}}</ng-option>
                        </ng-select> -->

                        <!-- <div class="col-md-6">
                            <h3> Indent Number:{{random}}</h3>

                        </div> -->
                        <!-- <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Indent Number </mat-label>
                            <input matInput placeholder="Indent Number" value="IN:{{random}}" name="indentNumber"
                                #indentNumber="ngModel" [(ngModel)]="model.indentNumber">
                        </mat-form-field>
                        <span mat-button matSuffix mat-icon-button aria-label style="cursor:pointer">
                            <mat-icon style="margin-left:8px" (click)="makeid()" onClick="return false">
                                add_circle_outline
                            </mat-icon>
                        </span> -->
                        <!-- 
                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Created By </mat-label>
                            <input type="text" matInput placeholder="Created By" name="createdBy" #createdBy="ngModel"
                                [(ngModel)]="model.createdBy">
                        </mat-form-field>


                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Created Department </mat-label>
                            <input type="text" matInput placeholder="Created Department" name="createdDepartment"
                                #createdDepartment="ngModel" [(ngModel)]="model.createdDepartment">
                        </mat-form-field> -->



                        <!-- <div class="col-md-6">
                            <ng-select class="form-field-width1" placeholder="Supplier Name" appearance="outline"
                                (change)='Change($event)' name="supplierName" #supplierName="ngModel"
                                [(ngModel)]="model.supplierName">
                                <mat-label>Supplier Name</mat-label>
                                <ng-option *ngFor="let supplier of allSupplier" [value]="supplier.supplierName">
                                    {{supplier.supplierName}}</ng-option>
                            </ng-select>
                        </div> -->


                        <!-- <ng-select appearance="outline" placeholder="Item Name" (change)="ItemMaster($event)"
                            name="itemName" #itemName="ngModel" [(ngModel)]="model.itemName">
                            <mat-label>Item Name </mat-label>

                            <ng-container *ngFor="let car of SupplierssName">
                                <ng-option *ngIf="changevalue==changevalue" [value]="car._id">
                                    {{car.itemName}}
                                </ng-option>
                            </ng-container>
                        </ng-select> -->



                        <ng-select [closeOnSelect]="false" [hideSelected]="true" class="form-field-width1"
                            (change)="ItemMaster($event)" appearance="outline" placeholder="Item Name or
                            Manual code or Short name" name="itemN" #itemN="ngModel" [(ngModel)]="model.itemN">
                            <mat-label>Item Name or Manual code or Short name</mat-label>
                            <ng-option *ngFor="let car of ItemsName let i = index" [value]="car._id">
                                {{car.itemName}}
                            </ng-option>
                        </ng-select>



                        <!-- <div class="col-md-6">
                            <mat-form-field *ngIf="model.supplierName" class="form-field-width1" appearance="outline">
                                <mat-label>Email </mat-label>
                                <input type="text" matInput placeholder="Email" name="emailSupplier"
                                    #emailSupplier="ngModel" value="{{singleSupplier.email}}"
                                    [(ngModel)]="model.emailSupplier">
                            </mat-form-field>

                        </div>
                        <div class="col-md-6">
                            <mat-form-field *ngIf="model.supplierName" class="form-field-width1" appearance="outline">
                                <mat-label>Mobile Number </mat-label>
                                <input type="text" matInput placeholder="Mobile Supplier" name="mobileSupplier"
                                    #mobileSupplier="ngModel" value="{{singleSupplier.mobileNumber}}"
                                    [(ngModel)]="model.mobileSupplier">
                            </mat-form-field>
                        </div> -->

                        <!-- <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Indenter Name </mat-label>
                            <input type="text" matInput placeholder="Indenter Name" name="indenterName"
                                #indenterName="ngModel" [(ngModel)]="model.indenterName">
                        </mat-form-field> -->






                        &nbsp;&nbsp;
                        &nbsp;&nbsp;
                        &nbsp;&nbsp;

                        <!-- <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Department </mat-label>
                            <input type="text" matInput placeholder="Department" name="department" #department="ngModel"
                                [(ngModel)]="model.department">
                        </mat-form-field>
                        &nbsp;&nbsp; -->

                        <!-- 
                        <ng-select appearance="outline" placeholder="Item Name" name="itemName" #itemName="ngModel"
                            [(ngModel)]="model.itemName">
                            <mat-label>Item Name </mat-label>
                            <ng-option value="all">All
                            </ng-option>
                            <ng-container *ngFor="let car of ItemsName">
                                <ng-option *ngIf="changevalue==changevalue" [value]="car.itemName">
                                    {{car.itemName}}
                                </ng-option>
                            </ng-container>
                        </ng-select>


                        <ng-select class="form-field-width1" (change)="ItemMaster($event)" appearance="outline"
                            placeholder="Item Name / ManualCode" name="itemN" #itemN="ngModel"
                            [(ngModel)]="model.itemN">
                            <mat-label>Item Name/ ManualCode </mat-label>
                            <ng-option *ngFor="let car of ItemsName let i = index" [value]="car._id">
                                {{car.itemName}}
                            </ng-option>
                        </ng-select> -->

                        <div class="cdk-virtual-scroll-data-source-example">

                            <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50"
                                class="example-viewport">
                                <!-- <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div> -->


                                <table>
                                    <tr>
                                        <th width="15%">Sr No.</th>

                                        <th width="15%">Item Name</th>
                                        <th width="15%">Manual Code</th>


                                        <th width="20%">Short Name</th>
                                        <th width="15%">Current Stock</th>
                                        <th width="15%">Req Quantity</th>
                                        <!-- 
                                        <th width="15%">Rate</th>
                                        <th width="15%">Total Amount</th>
                                        <th width="15%">Req Date</th> -->
                                        <th width="15%">Remark</th>
                                        <th width="15%">Delete</th>




                                    </tr>

                                    <tr *ngFor="let item of model.Tickets let i = index">
                                        <td>{{i +1}}</td>
                                        <td>{{item.itemName}}</td>
                                        <td>{{item.manualCode}}</td>
                                        <td>{{item.stockUnit}}</td>





                                        <td>
                                            <mat-form-field class="form-field-width5" appearance="outline">
                                                <mat-label>Req Qty </mat-label>
                                                <input type="text" matInput placeholder="Req Qty" name="reqQtys{{i}}"
                                                    #reqQtys="ngModel" [(ngModel)]="model.Tickets[i].reqQtys">
                                            </mat-form-field>
                                        </td>
                                        <!-- <td>
                                            <mat-form-field class="form-field-width5" appearance="outline">
                                                <mat-label>Cost Center </mat-label>
                                                <input type="text" matInput placeholder="Cost Center"
                                                    name="costCenters{{i}}" #costCenters="ngModel"
                                                    (keyup)="searchAutocomplete(model.Tickets[i].costCenters* model.Tickets[i].reqQtys,i)"
                                                    [(ngModel)]="model.Tickets[i].costCenters">
                                            </mat-form-field>
                                        </td> -->
                                        <!-- <td>{{item.lastAmount}}</td> -->


                                        <!-- (keyup)="searchAutocomplete(model.Tickets[i].costCenters* model.Tickets[i].reqQtys)" -->
                                        <!-- (keyup)="onKey(totalAmounts.value)" -->
                                        <!-- <td>
                                            <mat-form-field class="form-field-width5" appearance="outline">
                                                <mat-label>Total Amount</mat-label>
                                                <input matInput placeholder="Total Amount"
                                                    [value]="item.lastAmount* model.Tickets[i].reqQtys"
                                                    name="totalAmounts{{i}}" #totalAmounts="ngModel"
                                                    [(ngModel)]="model.Tickets[i].totalAmounts">
                                            </mat-form-field>
                                        </td> -->
                                        <!-- <td>
                                            <mat-form-field class="form-field-width5" appearance="outline">
                                                <mat-label>Req Date </mat-label>

                                                <input matInput placeholder=" Req Date" [matDatepicker]="picker1"
                                                    (focus)="picker1.open()" (click)="picker1.open()"
                                                    name="reqDates{{i}}" #reqDates="ngModel"
                                                    [(ngModel)]="model.Tickets[i].reqDates">
                                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                        </td> -->

                                        <td>
                                            <mat-form-field class="form-field-width5" appearance="outline">
                                                <mat-label>Remark </mat-label>
                                                <input type="text" matInput placeholder="Remark" name="remarks{{i}}"
                                                    #remarks="ngModel" [(ngModel)]="model.Tickets[i].remarks">
                                            </mat-form-field>
                                        </td>
                                        <td (click)="model.Tickets.splice(i, 1)">
                                            <mat-icon>auto_delete</mat-icon>
                                        </td>

                                    </tr>

                                </table>


                            </cdk-virtual-scroll-viewport>
                        </div>




                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
















        </div>
    </div>
</div>