<mat-toolbar class="sticky mat-elevation-z1" color="primary">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    Indent Entry
</mat-toolbar>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="60%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>



                        <!-- <ng-select placeholder="Type" name="type" #type="ngModel" [(ngModel)]="model.type">
                            <ng-option *ngFor="let car of Unit" [value]="car.name">{{car.name}}</ng-option>
                        </ng-select> -->


                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Indent Number </mat-label>
                            <input matInput placeholder="Indent Number" value="IN:{{random}}" name="indentNumber"
                                #indentNumber="ngModel" [(ngModel)]="model.indentNumber">
                        </mat-form-field>
                        <span mat-button matSuffix mat-icon-button aria-label style="cursor:pointer">
                            <mat-icon style="margin-left:8px" (click)="makeid()" onClick="return false">
                                add_circle_outline
                            </mat-icon>
                        </span>

                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Indenter Name </mat-label>
                            <input type="text" matInput placeholder="Indenter Name" name="indenterName"
                                #indenterName="ngModel" [(ngModel)]="model.indenterName">
                        </mat-form-field>



                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Indent Date </mat-label>

                            <input matInput placeholder=" Indent Date" [matDatepicker]="picker" (focus)="picker.open()"
                                (click)="picker.open()" name="indentDate" #indentDate="ngModel"
                                [(ngModel)]="model.indentDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>


                        &nbsp;&nbsp;
                        &nbsp;&nbsp;
                        &nbsp;&nbsp;

                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Department </mat-label>
                            <input type="text" matInput placeholder="Department" name="department" #department="ngModel"
                                [(ngModel)]="model.department">
                        </mat-form-field>
                        &nbsp;&nbsp;










                        <!-- <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="sr">
                                <th mat-header-cell *matHeaderCellDef> Sr No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.sr}} </td>
                            </ng-container>

                            <ng-container matColumnDef="itemName">
                                <th mat-header-cell *matHeaderCellDef> Item Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="manualCode">
                                <th mat-header-cell *matHeaderCellDef> Manual Code </th>
                                <td mat-cell *matCellDef="let element"> {{element.manualCode}} </td>
                            </ng-container>

                            <ng-container matColumnDef="currentStock">
                                <th mat-header-cell *matHeaderCellDef> Current Stock </th>

                                <td mat-cell *matCellDef="let element"> {{element.currentStock}} </td>
                            </ng-container>

                            <ng-container matColumnDef="unitName">
                                <th mat-header-cell *matHeaderCellDef> Unit Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.unitName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="reordQTY">
                                <th mat-header-cell *matHeaderCellDef> Reord QTY </th>
                                <td mat-cell *matCellDef="let element"> {{element.reordQTY}} </td>
                            </ng-container>


                            <ng-container matColumnDef="reqQTY">
                                <th mat-header-cell *matHeaderCellDef> Req QTY </th>
                                <td mat-cell *matCellDef="let element"> {{element.reqQTY}} </td>
                            </ng-container>
                            <ng-container matColumnDef="costCenter">
                                <th mat-header-cell *matHeaderCellDef> Cost Center Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.costCenter}} </td>
                            </ng-container>


                            <ng-container matColumnDef="reqDate">
                                <th mat-header-cell *matHeaderCellDef> Req Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.reqDate}} </td>
                            </ng-container>



                            <ng-container matColumnDef="remark">
                                <th mat-header-cell *matHeaderCellDef> Remark </th>
                                <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
                            </ng-container>




                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table> -->


                        <div class="cdk-virtual-scroll-data-source-example">

                            <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50"
                                class="example-viewport">
                                <!-- <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div> -->


                                <table>
                                    <tr>
                                        <th width="5%">
                                            <span>
                                                <span mat-button matSuffix mat-icon-button aria-label
                                                    style="cursor:pointer">
                                                    <mat-icon style="margin-left:8px" (click)="onAdd(value)"
                                                        onClick="return false">
                                                        add_circle_outline
                                                    </mat-icon>
                                                </span>

                                            </span>
                                        </th>
                                        <th width="5%">Sr No.</th>
                                        <th width="15%">Item Name/ manualCode</th>
                                        <!-- <th width="20%">Manual Code</th> -->
                                        <th width="15%">Unit Name</th>
                                        <th width="15%">Current Stock</th>
                                        <th width="15%">Req QTY</th>

                                        <th width="15%">Cost Center</th>
                                        <th width="15%">Total Amount</th>
                                        <th width="15%">Req Date</th>
                                        <th width="15%">Remark</th>

                                    </tr>
                                    <!-- <span>
                                        <span mat-button matSuffix mat-icon-button aria-label style="cursor:pointer">
                                            <mat-icon style="margin-left:8px" (click)="onAdd(value)"
                                                onClick="return false">
                                                add_circle_outline
                                            </mat-icon>
                                        </span>

                                    </span> -->
                                    <!-- <tr>

                                        <td>

                                            <div>

                                                <span mat-button matSuffix mat-icon-button aria-label
                                                    style="cursor:pointer">
                                                    <mat-icon style="margin-left:8px" (click)="onRemove(value)"
                                                        onClick="return false">
                                                        highlight_off
                                                    </mat-icon>
                                                </span>
                                                <span mat-button matSuffix mat-icon-button aria-label
                                                    style="cursor:pointer">
                                                    <mat-icon style="margin-left:8px" (click)="onAdd(value)"
                                                        onClick="return false">
                                                        add_circle_outline
                                                    </mat-icon>
                                                </span>

                                            </div>

                                        </td>
                                    </tr> -->



                                    <tr *ngFor="let item of model.Tickets; let i = index;">


                                        <!-- <div class="specialclass"> -->
                                        <td> <span mat-button matSuffix mat-icon-button aria-label
                                                style="cursor:pointer">
                                                <mat-icon style="margin-left:8px" (click)="onRemove(value)"
                                                    onClick="return false">
                                                    highlight_off
                                                </mat-icon>
                                            </span></td>

                                        <td>{{i+1}}</td>
                                        <!-- <td>i</td> -->
                                        <td>

                                            <ng-select style="width: 200px;" appearance="outline"
                                                placeholder="Item Name / ManualCode" name="itemNames{{i}}"
                                                #itemNames="ngModel" [(ngModel)]="model.Tickets[i].itemNames">
                                                <mat-label>Item Name/ ManualCode </mat-label>
                                                <ng-option *ngFor="let car of ItemsName let i = index"
                                                    [value]="car.itemName">
                                                    {{car.itemName}}/
                                                    {{car.manualCode}}
                                                </ng-option>
                                            </ng-select>
                                        </td>

                                        <!-- *ngIf="model.Tickets[i].itemNames"  -->
                                        <!-- <td>
                                            <mat-form-field class="form-field-width4" appearance="outline">
                                                <mat-label>Manual Code </mat-label>
                                                <input readonly="readonly" type="text" matInput
                                                    placeholder="Manual Code" value="{{model.manualCodes}}"
                                                    name="manualCodes{{i}}" #manualCodes="ngModel"
                                                    [(ngModel)]="model.Tickets[i].itemNames">
                                            </mat-form-field>
                                        </td> -->



                                        <td>
                                            <ng-select style="width: 200px;" appearance="outline"
                                                placeholder="Unit Name" name="unitNames{{i}}" #unitNames="ngModel"
                                                [(ngModel)]="model.Tickets[i].unitNames">
                                                <mat-label>Unit Name </mat-label>
                                                <ng-option *ngFor="let unit of Unit" [value]="unit.unitName">
                                                    {{unit.unitName}}

                                                </ng-option>
                                            </ng-select>

                                        </td>


                                        <td>
                                            <mat-form-field class="form-field-width5" appearance="outline">
                                                <mat-label>Current Stock </mat-label>
                                                <input type="text" matInput placeholder="Current Stock"
                                                    name="currentStocks{{i}}" #currentStocks="ngModel"
                                                    [(ngModel)]="model.Tickets[i].currentStocks">
                                            </mat-form-field>

                                        </td>
                                        <td>
                                            <mat-form-field class="form-field-width5" appearance="outline">
                                                <mat-label>Req Qty </mat-label>
                                                <input type="text" matInput placeholder="Req Qty" name="reqQtys{{i}}"
                                                    #reqQtys="ngModel" [(ngModel)]="model.Tickets[i].reqQtys">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field class="form-field-width5" appearance="outline">
                                                <mat-label>Cost Center </mat-label>
                                                <input type="text" matInput placeholder="Cost Center"
                                                    name="costCenters{{i}}" #costCenters="ngModel"
                                                    [(ngModel)]="model.Tickets[i].costCenters">
                                            </mat-form-field>
                                        </td>


                                        <td>
                                            <mat-form-field class="form-field-width5" appearance="outline">
                                                <mat-label>Total Amount</mat-label>
                                                <input readonly="readonly" type="text" matInput
                                                    placeholder="Total Amount"
                                                    value="{{model.Tickets[i].costCenters* model.Tickets[i].reqQtys}}"
                                                    name="totalAmounts" #totalAmounts="ngModel"
                                                    [(ngModel)]="model.Tickets[i].totalAmounts">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field class="form-field-width5" appearance="outline">
                                                <mat-label>Req Date </mat-label>

                                                <input matInput placeholder=" Req Date" [matDatepicker]="picker1"
                                                    (focus)="picker1.open()" (click)="picker1.open()"
                                                    name="reqDates{{i}}" #reqDates="ngModel"
                                                    [(ngModel)]="model.Tickets[i].reqDates">
                                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                        </td>

                                        <td>
                                            <mat-form-field class="form-field-width5" appearance="outline">
                                                <mat-label>Remark </mat-label>
                                                <input type="text" matInput placeholder="Remark" name="remarks{{i}}"
                                                    #remarks="ngModel" [(ngModel)]="model.Tickets[i].remarks">
                                            </mat-form-field>
                                        </td>










                                    </tr>



                                </table>


                            </cdk-virtual-scroll-viewport>
                        </div>





                        <!-- <button mat-raised-button routerLink="/productreports" routerLinkActive="router-link-active"
                            color="primary">{{"Save"}}</button> -->
                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
















        </div>
    </div>
</div>