<mat-toolbar class="sticky mat-elevation-z1" color="primary">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    Sales Order
</mat-toolbar>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="60%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>





                        <!-- 
                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Type </mat-label>
                            <input type="number" matInput placeholder="type" name="type" #type="ngModel" required
                                [(ngModel)]="model.type">
                        </mat-form-field> -->


                        <mat-form-field class="form-field-width2" appearance="outline">
                            <mat-label>Order Number </mat-label>
                            <input matInput placeholder="Order Number" value="ON:{{random}}" name="salesorderNumber"
                                #salesorderNumber="ngModel" [(ngModel)]="model.salesorderNumber">
                        </mat-form-field>


                        <span mat-button matSuffix mat-icon-button aria-label style="cursor:pointer">
                            <mat-icon style="margin-left:8px" (click)="makeID()" onClick="return false">
                                add_circle_outline
                            </mat-icon>
                        </span>



                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Order Date </mat-label>

                            <input matInput placeholder="Order Date" [matDatepicker]="picker" (focus)="picker.open()"
                                (click)="picker.open()" name="salesorderDate" #salesorderDate="ngModel"
                                [(ngModel)]="model.salesorderDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>




                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Sales Man Name </mat-label>
                            <input type="text" matInput placeholder="Sales Man Name " name="salesmanName"
                                #salesmanName="ngModel" required [(ngModel)]="model.salesmanName">
                        </mat-form-field>




                        <!-- <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Paper Type </mat-label>

                            <mat-select [(value)]="selected" [(ngModel)]="model.salespaperType"
                                [ngModelOptions]="{standalone: true}">
                                <mat-option value="whitepaper">Whitepaper</mat-option>
                                <mat-option value="kraftpaper">Kraftpaper</mat-option>
                                <mat-option value="allpaper">All Paper</mat-option>

                            </mat-select>
                        </mat-form-field> -->



                        <!-- 
                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Brightness </mat-label>
                            <mat-select placeholder="Brightness" name="brightness" #brightness="ngModel"
                                [(ngModel)]="model.brightness">
                                <mat-option value="loaded">Loaded</mat-option>
                                <mat-option value="unloaded">Unloaded</mat-option>
                            </mat-select>
                        </mat-form-field> -->

                        <ng-select appearance="outline" placeholder="Brightness" (change)="brightnessValue($event)"
                            name="jumbuBrightness" #jumbuBrightness="ngModel" [(ngModel)]="model.jumbuBrightness">
                            <mat-label>Brightness </mat-label>
                            <ng-container *ngFor="let car of alljumbu">
                                <ng-option [value]="car.jumbuBrightness">{{car.jumbuBrightness}}
                                </ng-option>
                            </ng-container>
                        </ng-select>

                        <ng-select appearance="outline" placeholder="GSM" (change)="gsmValue($event)" name="jumbuGsm"
                            #jumbuGsm="ngModel" [(ngModel)]="model.jumbuGsm">
                            <mat-label>GSM </mat-label>
                            <ng-container *ngFor="let car of alljumbu">
                                <ng-option [value]="car.jumbuGsm">{{car.jumbuGsm}}
                                </ng-option>
                            </ng-container>
                        </ng-select>

                        <ng-select appearance="outline" placeholder="Quality" (change)="qualityValue($event)"
                            name="jumbuQuality" #jumbuQuality="ngModel" [(ngModel)]="model.jumbuQuality">
                            <mat-label>Quality </mat-label>
                            <ng-container *ngFor="let car of alljumbu">
                                <ng-option [value]="car.jumbuQuality">{{car.jumbuQuality}}
                                </ng-option>
                            </ng-container>
                        </ng-select>




                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Sale item type </mat-label>
                            <mat-select placeholder="Sale item type" name="saleitemType" #saleitemType="ngModel"
                                required [(ngModel)]="model.saleitemType">
                                <mat-option value="jumbu">Jumbu</mat-option>
                                <mat-option value="reel">Reel</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="model.saleitemType==='jumbu'" class="form-field-width1"
                            appearance="outline">
                            <mat-label>Number of Jumbu </mat-label>
                            <input type="number" matInput placeholder="Number Of Jumbu" name="salesnumberofjumbu"
                                #salesnumberofjumbu="ngModel" (keyup)="onKeyjumbu($event)" required
                                [(ngModel)]="model.salesnumberofjumbu">
                        </mat-form-field>


                        <mat-form-field *ngIf="model.saleitemType==='reel'" class="form-field-width1"
                            appearance="outline">
                            <mat-label>Number of reel </mat-label>
                            <input type="number" matInput placeholder="Number Of Jumbu" name="salesnumberofreel"
                                #salesnumberofreel="ngModel" (keyup)="onKey($event)" required
                                [(ngModel)]="model.salesnumberofreel">
                        </mat-form-field>

                        <div class="cdk-virtual-scroll-data-source-example" *ngIf="model.saleitemType==='reel'">
                            <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50"
                                class="example-viewport">
                                <!-- <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div> -->
                                <!-- {{singleindententrydetails}} -->

                                <table>
                                    <tr>
                                        <th width="5%">Sr No.</th>
                                        <th width="20%">Reel GSM</th>
                                        <th width="20%">Reel Remark</th>
                                        <th width="15%">Reel Size</th>
                                        <th width="15%">Reel Unit</th>
                                        <th width="20%">Reel Weight</th>
                                        <th width="25%">Remark</th>
                                        <!-- <th width="10%">Department</th> -->

                                        <!-- <th width="10%"> <a mat-raised-button color="primary"
                                                [routerLink]="[singleindententrydetails._id]">
                                                <mat-icon>edit</mat-icon>
                                            </a></th> -->


                                    </tr>

                                    <tr *ngFor="let singleindententrydetails of search let i= index">
                                        <!-- <h1>deepak</h1> -->
                                        <td>{{i+1}}</td>
                                        <!-- <td>{{singleindententrydetails._id}}</td> -->
                                        <td>{{singleindententrydetails.reelGsm}}</td>

                                        <td>{{singleindententrydetails.reelRemark}}</td>
                                        <td>{{singleindententrydetails.reelSize}}</td>



                                        <td>{{singleindententrydetails.reelUnit}}</td>
                                        <td>{{singleindententrydetails.reelWeight}}</td>
                                        <td>{{singleindententrydetails.reelRemark}}</td>
                                        <!-- <td>{{singleindententrydetails.department}}</td> -->
                                        <!-- <td> <a mat-raised-button color="warn"
                                                (click)="deleteProduct(singleindententrydetails._id)">
                                                <mat-icon>delete</mat-icon>
                                            </a></td>

                                        <a mat-raised-button color="primary"
                                            [routerLink]="[singleindententrydetails._id,'edit']">
                                            <mat-icon>edit</mat-icon>
                                        </a> -->

                                    </tr>
                                    <tr *ngIf="total">
                                        <td>Total Req{{total}}</td>
                                    </tr>



                                </table>


                            </cdk-virtual-scroll-viewport>
                        </div>


                        <div class="cdk-virtual-scroll-data-source-example" *ngIf="model.saleitemType==='jumbu'">
                            <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50"
                                class="example-viewport">
                                <!-- <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div> -->
                                <!-- {{singleindententrydetails}} -->

                                <table>
                                    <tr>
                                        <th width="5%">Sr No.</th>
                                        <th width="20%">Jumbu Roll Number</th>
                                        <th width="15%"> Item Name</th>
                                        <th width="20%"> Quality</th>
                                        <th width="25%"> Gsm</th>
                                        <!-- <th width="10%">Department</th> -->
                                        <th width="20%"> Brightness</th>
                                        <th width="20%"> Remark</th>
                                        <th width="20%"> Weight</th>
                                        <th width="20%"> Date</th>



                                        <!-- <th width="10%"> <a mat-raised-button color="primary"
                                                [routerLink]="[singleindententrydetails._id]">
                                                <mat-icon>edit</mat-icon>
                                            </a></th> -->


                                    </tr>

                                    <tr *ngFor="let salesjumbu of searchjumbu let i= index">
                                        <!-- <h1>deepak</h1> -->
                                        <td>{{i+1}}</td>
                                        <!-- {{salesjumbu| json}} -->
                                        <!-- <td>{{singleindententrydetails._id}}</td> -->
                                        <td>{{salesjumbu.jumbuRollNumber}}</td>

                                        <td>{{salesjumbu.jumboRollItemName}}</td>
                                        <td>{{salesjumbu.jumbuQuality}}</td>


                                        <td>{{salesjumbu.jumbuGsm}}</td>
                                        <td>{{salesjumbu.jumbuBrightness}}</td>
                                        <td>{{salesjumbu.jumbuRemark}}</td>
                                        <td>{{salesjumbu.jumbuWeight}}</td>




                                        <!-- <td>{{singleindententrydetails.department}}</td> -->
                                        <td>{{salesjumbu.jumbuentryDate | date:'MM/dd/yy'}}</td>
                                        <!-- <td> <a mat-raised-button color="warn"
                                                (click)="deleteProduct(singleindententrydetails._id)">
                                                <mat-icon>delete</mat-icon>
                                            </a></td>

                                        <a mat-raised-button color="primary"
                                            [routerLink]="[singleindententrydetails._id,'edit']">
                                            <mat-icon>edit</mat-icon>
                                        </a> -->

                                    </tr>
                                    <tr *ngIf="total">
                                        <td>Total Req{{total}}</td>
                                    </tr>



                                </table>


                            </cdk-virtual-scroll-viewport>
                        </div>








                        <!-- <button mat-raised-button routerLink="/productreports" routerLinkActive="router-link-active"
                            color="primary">{{"Save"}}</button> -->
                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>