<div style="height: 56px; background:#111; color: #808080;" fxLayout fxLayout.xs=" column" fxLayoutAlign="center center"
  fxLayoutGap="0" fxLayoutGap.xs="0">
  <div fxFlex="100%">
    <span class="footer" style="color:rgba(0, 0, 0, 0.54)">
      &nbsp; &nbsp; &nbsp;
      <Span class="footer">&copy; 2019 | Homofer</Span> &nbsp;
      <a routerLink="/terms">Terms</a>
      <a routerLink="/privacy">Privacy</a>
      <a routerLink="/contact">Contact</a>
      <!-- <a target="_blank" routerLink="/rent">Rent</a> -->
    </span>
  </div>
</div>
