<mat-toolbar class="sticky mat-elevation-z1" color="primary">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    Unit Master
</mat-toolbar>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="60%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>




                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Unit Name </mat-label>
                            <input type="text" matInput placeholder="Name" name="unitName" #unitName="ngModel"
                                [(ngModel)]="model.unitName">
                        </mat-form-field>



                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>


<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="60%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>

                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal"
                        (cdkDropListDropped)="drop($event)">
                        <mat-chip class="example-box" cdkDrag *ngFor="let unit of allunitmaster">
                            {{unit.unitName}}
                        </mat-chip>
                    </mat-chip-list>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>