<mat-toolbar class="sticky mat-elevation-z1" color="primary">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    Sales MRN Entry
</mat-toolbar>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="60%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>



                        <ng-select appearance="outline" placeholder="Sales Order Number" (change)='myFun($event)'
                            name="salesOrderNo" #salesOrderNo="ngModel" [(ngModel)]="model.salesOrderNo">
                            <mat-label>Sales Order Number </mat-label>
                            <ng-container *ngFor="let car of allSale">
                                <ng-option [value]="car._id">{{car.salesorderNumber}}
                                </ng-option>
                            </ng-container>
                        </ng-select>

                        <mat-card *ngFor="let item of FullArray">
                            <mat-content *ngIf="item.status === ''">
                                <p>
                                    Gate Number:{{item.salesgateEntryNumber}}

                                </p>
                                <p>
                                    Supplier Name:{{item.salesManName}}

                                </p>
                                <p>
                                    Transport Type:{{item.salestransportType}}

                                </p>

                                <p>
                                    Driver Name:{{item.salesdriverName}}


                                </p>
                                <p>
                                    Vehical Number:{{item.salesvehicalNumber}}

                                </p>
                                <p>
                                    Entry Date:{{item.salesentryDate | date:'MM/dd/yy'}}

                                </p>
                                <p>
                                    Truck Weight:{{item.salestruckWeight}}

                                </p>
                            </mat-content>



                            <mat-content *ngIf="item.status === '1'">
                                <p>
                                    Gate Number:{{item.salesgateEntryNumber}}

                                </p>
                                <p>
                                    Supplier Name:{{item.salesManName}}

                                </p>
                                <p>
                                    Transport Type:{{item.salestransportType}}

                                </p>

                                <p>
                                    Driver Name:{{item.salesdriverName}}


                                </p>
                                <p>
                                    Vehical Number:{{item.salesvehicalNumber}}

                                </p>
                                <p>
                                    Entry Date:{{item.salesentryDate | date:'MM/dd/yy'}}

                                </p>
                                <p>
                                    Truck Weight:{{item.salestruckWeight}}

                                </p>

                                <p>
                                    Product Weight:{{item.salesproductWeight}}

                                </p>
                                <p>
                                    All Weight:{{item.salesallWeight}}

                                </p>
                            </mat-content>



                        </mat-card>




                        <mat-form-field class="form-field-width2" appearance="outline">
                            <mat-label>MRN Number </mat-label>
                            <input matInput placeholder="MRN Number" value="MRN:{{random}}" name="salesmrnNumber"
                                #salesmrnNumber="ngModel" [(ngModel)]="model.salesmrnNumber">
                        </mat-form-field>


                        <span mat-button matSuffix mat-icon-button aria-label style="cursor:pointer">
                            <mat-icon style="margin-left:8px" (click)="makeID()" onClick="return false">
                                add_circle_outline
                            </mat-icon>
                        </span>


                        <div class="cdk-virtual-scroll-data-source-example">
                            <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50"
                                class="example-viewport">
                                <!-- <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div> -->


                                <!-- <h1>all data {{singlepurchaseorderdetails | json}}</h1> -->
                                <!-- <h1>indent data {{indent| json}}</h1> -->

                                <table>
                                    <tr>
                                        <th width="5%">Sr No.</th>
                                        <th width="10%">Sales Order</th>
                                        <th width="10%">Sales Order Date</th>
                                        <th width="10%">Jumbu Brightness</th>
                                        <th width="10%">Jumbu GSM</th>
                                        <th width="10%">Jumbu Quality</th>
                                        <th width="10%">saleitemType</th>

                                        <th width="10%">salesnumberofjumbu</th>









                                    </tr>


                                    <td>1</td>
                                    <td>{{purchaseOrders.salesorderNumber}}</td>
                                    <td>{{purchaseOrders.salesorderDate}}</td>
                                    <td>{{purchaseOrders.jumbuBrightness}}</td>
                                    <td>{{purchaseOrders.jumbuGsm}}</td>
                                    <td>{{purchaseOrders.jumbuQuality}}</td>

                                    <td>{{purchaseOrders.saleitemType}}</td>
                                    <td>{{purchaseOrders.salesnumberofjumbu}}</td>



                                    <!-- <tr *ngFor="let item of singlepurchaseorderdetails let i= index">
                                        <td>{{i+1}}</td>
                                        <td>{{singlepurchaseorderdetails.salesorderNumber}}</td>
                                        <td>{{singlepurchaseorderdetails.salesorderDate}}</td>
                                        <td>{{singlepurchaseorderdetails.salesmanName}}</td>
                                        <td>{{singlepurchaseorderdetails.salespaperType}}</td>

                                    </tr> -->




                                </table>


                            </cdk-virtual-scroll-viewport>
                        </div>


                        <!-- <button mat-raised-button routerLink="/productreports" routerLinkActive="router-link-active"
                            color="primary">{{"Save"}}</button> -->
                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>