<mat-toolbar class="sticky mat-elevation-z1" color="primary">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    Jumbu Roll Register Report
</mat-toolbar>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="60%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>

                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>From Date </mat-label>

                            <input matInput placeholder="From Date" [matDatepicker]="picker" (focus)="picker.open()"
                                (click)="picker.open()" (keyup)="fromdateKey($event)" name="fromDate"
                                #fromDate="ngModel" [(ngModel)]="model.fromDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>To Date </mat-label>
                            <input matInput placeholder="To Date" (input)="todateKey($event.value)"
                                [matDatepicker]="picker1" (focus)="picker1.open()" (click)="picker1.open()"
                                name="toDate" #toDate="ngModel" [(ngModel)]="model.toDate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>







                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Item type</mat-label>
                            <mat-select placeholder="Item type" (selectionChange)="onAddRell($event.value)"
                                [ngModelOptions]="{standalone: true}" name="itemType" #itemType="ngModel"
                                [(ngModel)]="model.itemType">
                                <mat-option value="whitepaper">White Paper</mat-option>
                                <mat-option value="craftpaper">Craft Paper</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <ng-select appearance="outline" placeholder="Brightness" (change)="brightnessValue($event)"
                            name="jumbuBrightness" #jumbuBrightness="ngModel" [(ngModel)]="model.jumbuBrightness">
                            <mat-label>Brightness </mat-label>
                            <ng-option value="all">All
                            </ng-option>
                            <ng-container *ngFor="let car of allbrightness">


                                <ng-option [value]="car.brightness">{{car.brightness}}

                                </ng-option>
                            </ng-container>
                        </ng-select>

                        <ng-select appearance="outline" placeholder="GSM" (change)="gsmValue($event)" name="jumbuGsm"
                            #jumbuGsm="ngModel" [(ngModel)]="model.jumbuGsm">
                            <mat-label>GSM </mat-label>
                            <ng-option value="all">All
                            </ng-option>
                            <ng-container *ngFor="let car of allgsm">
                                <ng-option [value]="car.gsm">{{car.gsm}}
                                </ng-option>
                            </ng-container>
                        </ng-select>

                        <ng-select appearance="outline" placeholder="Quality" (change)="qualityValue($event)"
                            name="jumbuQuality" #jumbuQuality="ngModel" [(ngModel)]="model.jumbuQuality">
                            <mat-label>Quality </mat-label>
                            <ng-option value="all">All
                            </ng-option>
                            <ng-container *ngFor="let car of allquality">
                                <ng-option [value]="car.quality">{{car.quality}}
                                </ng-option>
                            </ng-container>
                        </ng-select>

                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>





























                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>




<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="60%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>


                    <div class="cdk-virtual-scroll-data-source-example">
                        <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50" class="example-viewport">
                            <!-- <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div> -->
                            <!-- {{singleindententrydetails}} -->

                            <table>
                                <tr>
                                    <th width="5%">Sr No.</th>
                                    <th width="20%">Jumbu GSM</th>
                                    <th width="20%">Jumbu Brightness</th>
                                    <th width="20%">Jumbu Quality</th>

                                    <th width="20%"> Remark</th>
                                    <th width="15%">jumburollnumber</th>
                                    <th width="20%">Jumbu Weight</th>

                                    <th width="15%">Category</th>
                                    <th width="25%">Machine Number</th>
                                    <!-- <th width="10%">Department</th> -->

                                    <!-- <th width="10%"> <a mat-raised-button color="primary"
                        [routerLink]="[singleindententrydetails._id]">
                        <mat-icon>edit</mat-icon>
                    </a></th> -->


                                </tr>

                                <tr *ngFor="let item of jumbufilterdata let i= index">
                                    <!-- <h1>deepak</h1> -->
                                    <td>{{i+1}}</td>
                                    <!-- <td>{{singleindententrydetails._id}}</td> -->
                                    <td>{{item.jumbuGsm}}</td>
                                    <td>{{item.jumbuBrightness}}</td>
                                    <td>{{item.jumbuQuality}}</td>

                                    <td>{{item.jumbuRemark}}</td>
                                    <td>{{item.jumbuRollNumber}}</td>



                                    <td>{{item.jumbuWeight}}</td>
                                    <td>{{item.machineCategory}}</td>
                                    <td>{{item.machineNumber}}</td>


                                </tr>




                            </table>


                        </cdk-virtual-scroll-viewport>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>