<mat-toolbar class="sticky mat-elevation-z1" color="primary">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    Reel Register Report
</mat-toolbar>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="60%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>

                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>From Date </mat-label>

                            <input matInput placeholder="From Date" [matDatepicker]="picker" (focus)="picker.open()"
                                (click)="picker.open()" (keyup)="fromdateKey($event)" name="fromDate"
                                #fromDate="ngModel" [(ngModel)]="model.fromDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>To Date </mat-label>
                            <input matInput placeholder="To Date" (input)="todateKey($event.value)"
                                [matDatepicker]="picker1" (focus)="picker1.open()" (click)="picker1.open()"
                                name="toDate" #toDate="ngModel" [(ngModel)]="model.toDate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>



                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Item type</mat-label>
                            <mat-select placeholder="Item type" (selectionChange)="onAddRell($event.value)"
                                [ngModelOptions]="{standalone: true}" name="itemType" #itemType="ngModel"
                                [(ngModel)]="model.itemType">
                                <mat-option value="whitepaper">White Paper</mat-option>
                                <mat-option value="craftpaper">Craft Paper</mat-option>
                            </mat-select>
                        </mat-form-field>


                        <ng-select appearance="outline" placeholder="Jumbo Roll Number" (change)='singlejumbo($event)'
                            name="jumboRollNumber" #jumboRollNumber="ngModel" [(ngModel)]="model.jumboRollNumber">
                            <mat-label>Jumbo Roll Number</mat-label>
                            <ng-option *ngFor="let car of alljumbu" [value]="car._id">
                                <!-- {{car.jumboRollItemName}} -->
                                {{car.jumbuRollNumber}}
                            </ng-option>
                        </ng-select>



                        <mat-form-field class="form-field-width2" appearance="outline">
                            <mat-label>GSM</mat-label>
                            <input readonly="readonly" matInput placeholder="GSM" value="{{ItemsName.jumbuGsm}}"
                                name="reelcuttingGsm" #reelcuttingGsm="ngModel" [(ngModel)]="model.reelcuttingGsm">
                        </mat-form-field>

                        <mat-form-field class="form-field-width2" appearance="outline">
                            <mat-label>Quality</mat-label>
                            <input matInput placeholder="Quality" readonly="readonly" value="{{ItemsName.jumbuQuality}}"
                                name="reelcuttingQuality" #reelcuttingQuality="ngModel"
                                [(ngModel)]="model.reelcuttingQuality">
                        </mat-form-field>
                        <mat-form-field class="form-field-width2" appearance="outline">
                            <mat-label>Brightness</mat-label>
                            <input readonly="readonly" matInput placeholder="Brightness"
                                value="{{ItemsName.jumbuBrightness}}" name="reelcuttingBrightness"
                                #reelcuttingBrightness="ngModel" [(ngModel)]="model.reelcuttingBrightness">
                        </mat-form-field>


                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>


                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>