<mat-toolbar class="sticky mat-elevation-z1" color="primary">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    MRN Entry
</mat-toolbar>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="60%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>


                        <div class="col-md-6">
                            <h3> MRN Id:{{random}}</h3>

                        </div>
                        <div class="col-md-6">
                            <h3> Created Date: <input readonly="readonly" placeholder="mrnDate" name="mrnDate"
                                    [(ngModel)]="mrnDate">
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="form-field-width1" appearance="outline">
                                <mat-label>Created By</mat-label>
                                <input type="text" matInput placeholder="Created By" name="createdBy"
                                    #createdBy="ngModel" required [(ngModel)]="model.createdBy">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="form-field-width1" appearance="outline">
                                <mat-label>Department Name</mat-label>
                                <input type="text" matInput placeholder="Department Name" name="departmentName"
                                    #departmentName="ngModel" required [(ngModel)]="model.departmentName">
                            </mat-form-field>
                        </div>







                        <ng-select appearance="outline" placeholder="Purchase Order Number" (change)='myFun($event)'
                            name="purchaseOrderNo" #purchaseOrderNo="ngModel" [(ngModel)]="model.purchaseOrderNo">
                            <mat-label>Purchase Order Number </mat-label>
                            <ng-container *ngFor="let car of Unit">
                                <ng-option *ngIf="car.finalSubmit===''" [value]="car._id">{{car.orderNumber}}
                                </ng-option>
                            </ng-container>
                        </ng-select>
                        <!-- <h1>gate entry {{singlegateentry | json}}</h1> -->



                        <!-- 
                        <ng-select placeholder="Gate " (change)='onalbum($event)' name="gates" #gates="ngModel"
                            [(ngModel)]="model.gates">
                            <ng-option *ngFor="let car of gate" [value]="car._id">{{car.purchaseOrderNo}}
                            </ng-option>
                        </ng-select> -->

                        <!-- <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Challan Number </mat-label>
                            <input type="number" matInput placeholder="Challan Number" name="challanNumber"
                                #challanNumber="ngModel" required [(ngModel)]="model.challanNumber">
                        </mat-form-field> -->

                        <!-- <span>{{FullArray| json}}</span> -->
                        <!-- item.isActive === 'publish' -->

                        <mat-card *ngFor="let item of FullArray">
                            <mat-content *ngIf="item.status === ''">
                                <p>
                                    Gate Number:{{item.gateEntryNumber}}

                                </p>
                                <p>
                                    Supplier Name:{{item.supplierName}}

                                </p>
                                <p>
                                    Transport Type:{{item.transportType}}

                                </p>

                                <p>
                                    Driver Name:{{item.driverName}}


                                </p>
                                <p>
                                    Vehical Number:{{item.vehicalNumber}}

                                </p>
                                <p>
                                    Entry Date:{{item.entryDate | date:'MM/dd/yy'}}

                                </p>
                                <p>
                                    All Weight:{{item.allweight}}

                                </p>
                            </mat-content>



                            <mat-content *ngIf="item.status === '1'">
                                <p>
                                    Gate Number:{{item.gateEntryNumber}}

                                </p>
                                <p>
                                    Supplier Name:{{item.supplierName}}

                                </p>
                                <p>
                                    Transport Type:{{item.transportType}}

                                </p>

                                <p>
                                    Driver Name:{{item.driverName}}


                                </p>
                                <p>
                                    Vehical Number:{{item.vehicalNumber}}

                                </p>
                                <p>
                                    Entry Date:{{item.entryDate | date:'MM/dd/yy'}}

                                </p>
                                <p>
                                    All Weight:{{item.allweight}}

                                </p>

                                <p>
                                    Product Weight:{{item.productWeight}}

                                </p>
                                <p>
                                    Truck Weight:{{item.truckWeight}}

                                </p>
                            </mat-content>



                        </mat-card>
                        <!-- 
                        <div>


                            <h1> Gate Number:{{FullArray.gateEntryNumber}}</h1>
                            <h1> Supplier Name:{{FullArray.supplierName}}</h1>
                            <h1> Transport Type:{{FullArray.transportType}}</h1>
                            <h1> Driver Name:{{FullArray.driverName}}</h1>
                            <h1> Vehical Number:{{FullArray.vehicalNumber}}</h1>
                            <h1> Entry Date:{{FullArray.entryDate | date:'MM/dd/yy'}}</h1>
                            <h1> All Weight:{{FullArray.allweight}}</h1>
                            <!-- <h1> Product Weight:{{FullArray.productWeight}}</h1>
                            <h1> Truck Weight:{{FullArray.truckWeight}}</h1> -->


                        <!-- </div> -->

                        <!-- <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Supplier Bill Number </mat-label>
                            <input type="text" matInput placeholder="Supplier Bill Number" name="supplierBillNumber"
                                #supplierBillNumber="ngModel" required [(ngModel)]="model.supplierBillNumber">
                        </mat-form-field> -->





                        <!-- 
                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Road Permit Number </mat-label>
                            <input type="number" matInput placeholder="Road Permit Number" name="roadPermitNumber"
                                #roadPermitNumber="ngModel" required [(ngModel)]="model.roadPermitNumber">
                        </mat-form-field> -->


                        <!-- <span style="font-weight: 600">Status:</span>&nbsp;&nbsp;
                        <mat-form-field class="form-field-width1" appearance="outline">
                            <mat-label>Selected </mat-label>

                            <mat-select [(value)]="selected" [(ngModel)]="model.isActive"
                                [ngModelOptions]="{standalone: true}">
                                <mat-option value="publish">Publish</mat-option>
                                <mat-option value="unpublish">Unpublish</mat-option>
                            </mat-select>
                        </mat-form-field> -->

                        <span mat-button matSuffix mat-icon-button aria-label style="cursor:pointer">
                            <mat-icon style="margin-left:8px" (click)="makeID()" onClick="return false">
                                add_circle_outline
                            </mat-icon>
                        </span>


                        <div class="cdk-virtual-scroll-data-source-example">
                            <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50"
                                class="example-viewport">
                                <!-- <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div> -->


                                <!-- <h1>all data {{singlepurchaseorderdetails | json}}</h1> -->
                                <!-- <h1>indent data {{indent| json}}</h1> -->

                                <table>
                                    <tr>
                                        <th width="5%">Sr No.</th>
                                        <th width="10%">Item Name</th>
                                        <th width="10%">Manual Code</th>

                                        <th width="10%">Order Quantity</th>
                                        <th width="10%">Amount</th>
                                        <th width="10%">Remarks</th>
                                        <th width="10%">Net Amounts</th>



                                    </tr>
                                    <tr *ngFor="let singlepurchasedetails of purchaseOrders let i= index">
                                        <td>{{i+1}}</td>
                                        <td>{{singlepurchasedetails.itemName}}</td>
                                        <td>{{singlepurchasedetails.manualCode}}</td>
                                        <td>{{singlepurchasedetails.reqQtys}}</td>
                                        <td>{{singlepurchasedetails.totalAmounts}}</td>
                                        <td>{{singlepurchasedetails.remarks}}</td>
                                        <td>{{singlepurchaseorderdetails.netAmount}}</td>




                                    </tr>
                                    <tr *ngIf="total">
                                        <td>Total Req{{total}}</td>
                                        <td>Net Amount{{netAmount.netAmount}}</td>


                                    </tr>



                                </table>


                            </cdk-virtual-scroll-viewport>
                        </div>


                        <!-- <button mat-raised-button routerLink="/productreports" routerLinkActive="router-link-active"
                            color="primary">{{"Save"}}</button> -->
                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>