<mat-toolbar class="sticky mat-elevation-z1" color="primary">

    <button mat-icon-button (click)="back()" style="margin-right: 8px;">
        <mat-icon>arrow_back</mat-icon>
    </button>
    MRN Entry
</mat-toolbar>



<div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="40%">
        <div class="pad-top-no">
            <mat-card class="a-margin ">
                <mat-card-content>
                    <form name="form" class="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(model, f)" novalidate>
                        <h3>Please fill in the information below. The field labels marked with * are required input
                            fields.</h3>



                        <ng-select placeholder="Purchase Order No" (change)='purchaseorders($event)'
                            name="purchaseOrderNo" #purchaseOrderNo="ngModel" [(ngModel)]="model.purchaseOrderNo">
                            <ng-option *ngFor="let car of Unit" [value]="car._id">{{car.orderNumber}}
                            </ng-option>
                        </ng-select>
                        <!-- <h1>gate entry {{singlegateentry | json}}</h1> -->




                        <ng-select placeholder="Gate " (change)='onalbum($event)' name="gates" #gates="ngModel"
                            [(ngModel)]="model.gates">
                            <ng-option *ngFor="let car of gate" [value]="car._id">{{car.purchaseOrderNo}}
                            </ng-option>
                        </ng-select>

                        <!-- <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Challan Number </mat-label>
                            <input type="number" matInput placeholder="Challan Number" name="challanNumber"
                                #challanNumber="ngModel" required [(ngModel)]="model.challanNumber">
                        </mat-form-field> -->



                        <mat-form-field class="form-field-width4">
                            <input readonly="readonly" matInput placeholder="Entry Date" value="{{FullArray.entryDate}}"
                                [matDatepicker]="picker" (focus)="picker.open()" (click)="picker.open()"
                                name="entryDate" #entryDate="ngModel" [(ngModel)]="model.entryDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>





                        <!-- <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Transport Type </mat-label>
                            <mat-select placeholder="Transport Type" name="transportType" #transportType="ngModel"
                                [(ngModel)]="model.transportType">
                                <mat-option value="truck">Truck</mat-option>
                                <mat-option value="taxi">Taxi</mat-option>
                                <mat-option value="tractor">Tractor</mat-option>
                            </mat-select>
                        </mat-form-field> -->

                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Vehical Number </mat-label>
                            <input readonly="readonly" matInput placeholder="Vehical Number"
                                value="{{FullArray.vehicalNumber}}" name="vehicalNumber" #vehicalNumber="ngModel"
                                [(ngModel)]="model.vehicalNumber">
                        </mat-form-field>


                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Driver Name </mat-label>
                            <input readonly="readonly" matInput placeholder="Driver Name"
                                value="{{FullArray.driverName}}" name="driverName" #driverName="ngModel"
                                [(ngModel)]="model.driverName">
                        </mat-form-field>




                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Weight </mat-label>
                            <input readonly="readonly" matInput placeholder="Weight" value="{{FullArray.truckWeight}}"
                                name="weight" #weight="ngModel" [(ngModel)]="model.weight">
                        </mat-form-field>

                        <!-- 
                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Gate Entry Number </mat-label>
                            <mat-select placeholder="Gate Entry Number" name="gateEntryNumber"
                                #gateEntryNumber="ngModel" [(ngModel)]="model.gateEntryNumber">
                                <mat-option value="one">One</mat-option>
                                <mat-option value="two">Two</mat-option>
                                <mat-option value="three">Three</mat-option>
                            </mat-select>
                        </mat-form-field> -->

                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Supplier Name </mat-label>
                            <input readonly="readonly" matInput placeholder="Supplier Name"
                                value="{{FullArray.supplierName}}" name="supplierName" #supplierName="ngModel"
                                [(ngModel)]="model.supplierName">
                        </mat-form-field>





                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Receive Quantity </mat-label>
                            <input type="text" matInput placeholder="Receive Quantity" name="receiveQuantity"
                                #receiveQuantity="ngModel" [(ngModel)]="model.receiveQuantity">
                        </mat-form-field>

                        <!-- <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Supplier Bill Number </mat-label>
                            <input type="text" matInput placeholder="Supplier Bill Number" name="supplierBillNumber"
                                #supplierBillNumber="ngModel" required [(ngModel)]="model.supplierBillNumber">
                        </mat-form-field> -->





                        <!-- 
                        <mat-form-field class="form-field-width" appearance="outline">
                            <mat-label>Road Permit Number </mat-label>
                            <input type="number" matInput placeholder="Road Permit Number" name="roadPermitNumber"
                                #roadPermitNumber="ngModel" required [(ngModel)]="model.roadPermitNumber">
                        </mat-form-field> -->


                        <div class="cdk-virtual-scroll-data-source-example">
                            <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50"
                                class="example-viewport">
                                <!-- <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div> -->


                                <!-- <h1>all data {{singlepurchaseorderdetails | json}}</h1> -->
                                <!-- <h1>indent data {{indent| json}}</h1> -->

                                <table>
                                    <tr>
                                        <th width="5%">Sr No.</th>
                                        <th width="15%">MRN Code</th>
                                        <th width="10%">Item Name</th>
                                        <th width="10%">Order No.</th>
                                        <th width="10%">Order Quantity</th>
                                        <th width="10%">Receive Quantity</th>
                                        <th width="10%">Rate</th>
                                        <th width="10%">Amount</th>
                                        <th width="10%">Unit</th>
                                        <th width="10%">Remarks</th>
                                        <th width="10%">Req Quantity</th>


                                    </tr>
                                    <tr *ngFor="let singlepurchasedetails of purchaseOrders let i= index">
                                        <td>1</td>
                                        <td>mrn</td>
                                        <td>{{singlepurchasedetails.itemNames}}</td>
                                        <td>{{singlepurchasedetails.indentNumber}}</td>
                                        <td>{{singlepurchasedetails.indentNumber}}</td>
                                        <td>{{singlepurchaseorderdetails.orderNumber}}</td>
                                        <td>{{singlepurchasedetails.costCenters}}</td>
                                        <td>{{singlepurchasedetails.unitNames}}</td>
                                        <td>{{singlepurchasedetails.remarks}}</td>
                                        <td>{{singlepurchasedetails.reqQtys}}</td>



                                    </tr>
                                    <tr *ngIf="total">
                                        <td>Total Req{{total}}</td>
                                    </tr>



                                </table>


                            </cdk-virtual-scroll-viewport>
                        </div>


                        <!-- <button mat-raised-button routerLink="/productreports" routerLinkActive="router-link-active"
                            color="primary">{{"Save"}}</button> -->
                        <div mat-dialog-actions align="end">
                            <a mat-button (click)="location.back()">{{"Cancel"}}</a>
                            <button mat-raised-button color="primary">{{"Save"}}</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>